.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 12%;
  padding-right: 10%;
  padding-top: 5%;
  justify-content: center;
}

.title {
  font-size: large;
  background-color: darkslateblue;
  color: white;
  padding: 1%;
}

.author {
  font-weight: lighter;
  padding: 1%;
  margin-left: 5%;
  text-align: right;
  float: right;
}

.subtitle {
  font-size: large;
  color: #8A83B5;
  padding: 3%;
}

.content_ja {
  font-family: MS-Mincho;
  line-height: 190%;
}

code { font-size: small; }

.mat-expansion-panel-header-title {
  color: #8A83B5;
}

.content {
  font-weight: lighter;
  line-height: 190%;
}

/**/

::ng-deep h1 {
  font-size: large;
}

::ng-deep p {
  font-weight: bold;
}

/* customize material components */

::ng-deep .material-icons {
  vertical-align: middle;
}

::ng-deep .mat-expansion-panel-body, .mat-expansion-panel .background, 
::ng-deep .mat-drawer-container, .mat-expansion-panel.mat-expanded, 
.mat-expansion-panel-header.mat-expansion-toggle-indicator-before, 
.mat-expansion-panel-header.mat-expansion-toggle-indicator-after {
  background-color: #fafafa;
  --mat-expansion-container-background-color: #fafafa;
}


@media screen and (max-width: 599px) {

  .container {
    padding-left: 5%;
    padding-right: 7%;
  }

}
