.container {
  /* display: flex; */
  justify-content: center;
  max-width: 100% !important;
  overflow: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}

.selectors {
  height: 100%;
}

mat-chip.travelchip {
  width: 209px !important;
  height: 48px;
  line-height: 34px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  align-items: initial;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4%;
}

mat-chip.travelchip:hover {
  height: auto;
}

mat-chip.poetselected {
  background-color: #a0a9de;
}

.displaycontainer {
  display: inline-flex;
}

.mapcontainer {
  padding-top: 5%;
  padding-right: 5%;
  margin-bottom: 15%;
  height: 400px;
  width: 500px;
}

.mapmarkerselectors {
  padding-top: 5%;
  margin-left: 10%;
}

.travelspanel{
  height: auto;
  max-width: 400px;
  padding-top: 5%;
  margin-left: 20px;
}

.travelchipcontainer{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.travelsummary {
  margin-left: 4%
}

.invisible {
  display: none !important;
}

.label {
  background-color: 'black' !important;
  color: 'white';
  font-size: 10;
}


@media only screen and (max-width: 599px) {
  .selectors {
    width: 50%;
    height: 100%;
    margin-top: 2%;
    margin-left: 10%;
  }

  .map {
    margin-top: 10%;
    margin-bottom: 50%;
    height: 400px;
  }

  .mapmarkers {
    margin-left: 10%;
  }

  svg {
    height: 400px;
  }

  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    overflow-x: hidden !important;
    padding-left: 4%;
    padding-right: 4%;
  }

}
