<div class="container">


  <div class="selectors">

    <mat-form-field appearance="fill">
      <mat-label> {{ 'map.period' | transloco }} </mat-label>
      <mat-select placeholder="Periode" [(value)]="selectedperiod">
        <mat-option *ngFor="let selectorperiod of selectorperiodsvar" [value]="selectorperiod.value"> {{
          selectorperiod.viewValue }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-chip-listbox selectable class="mat-chip-list-stacked">

      <ng-container *ngFor="let poet of poets | async">
        <mat-chip-option
          [ngClass]="{'invisible': selectedperiod == 'earlyedo' && !(poet.death < 1700) || selectedperiod == 'middleedo' && !(poet.death > 1700 && poet.death < 1800 )|| selectedperiod == 'lateedo' && !(poet.death > 1800 && poet.death < 1868)}"
          color="primary" [value]="poet.name" (click)="singlechipselection(poet)"> {{ poet[nameVar] }} {{ poet.name }}
        </mat-chip-option>

      </ng-container>
    </mat-chip-listbox>

  </div>

<!-- hier die travels rendern, wenn in biog data enthalten-->

<div id="travels"></div>

  <div class="mapcontainer">

    <div style="height: 400px" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">

      <div [leafletLayers]="mapmarkers"></div>

      <!--
      <ng-container *ngFor="let layerpoet of poets | async">
      <div *ngIf="selectedPoet.includes(layerpoet.romanized)" [leafletLayers]="layerpoet.romanized"></div>
      </ng-container>
      -->

    </div>

  </div>

  <!--
<div class="mapmarkers">
  <mat-chip-listbox selectable multiple>

    <mat-chip-option (click)="toggleHighway()"> {{ 'map.highway' | transloco }} </mat-chip-option>

    <mat-chip-option  (click)="toggleCities()"> {{ 'map.cities' | transloco }} </mat-chip-option>

    <mat-chip-option  (click)="toggleTown()"> {{ 'map.town' | transloco }} </mat-chip-option>

    <mat-chip-option (click)="toggleNature()"> {{ 'map.nature' | transloco }} </mat-chip-option>

  </mat-chip-listbox>
</div>
-->

</div>