<div class="container">

<!-- period selector -->

  <div class="selectors">

    <mat-form-field appearance="fill">
      <mat-label> {{ 'map.period' | transloco }} </mat-label>
      <mat-select placeholder="{{ 'map.period' | transloco }}" [(value)]="selectedperiod">
        <mat-option *ngFor="let selectorperiod of selectorperiodsvar" [value]="selectorperiod.value"> {{
          selectorperiod.viewValue }} </mat-option>
      </mat-select>
    </mat-form-field>

<!-- poet selector -->

    <mat-form-field appearance="fill">
      <mat-label> {{ 'map.poet' | transloco }} </mat-label>
      <mat-select placeholder="{{ 'map.poet' | transloco }}">
        @for(poet of poets | async;  track $index)
        {
        @if(
            selectedperiod == 'noperiod' ||
            (selectedperiod == 'earlyedo' && !(poet.death < 1700)) ||
            (selectedperiod == 'middleedo' && !(poet.death > 1700 && poet.death < 1800)) ||
            (selectedperiod == 'lateedo' && !(poet.death > 1800 && poet.death < 1868))
           )
          {
          <mat-option 
          [value]="poet.id_name.romanized" 
          (click)="singlepoetselection(poet)"> 
          @if(language == 'de')
          {
          {{ poet.id_name.romanized }}
          }
          @else if(language == 'ja')
          {
          {{ poet.id_name.literal }}
          } 
          </mat-option>
          }  
        }
      </mat-select>
    </mat-form-field>

  </div>

<!-- overlay for Ryuhoku map     [cdkConnectedOverlayScrollStrategy]="imageScroll"
--> 
@if(ryuhokuselect){
<div class="imagewrapper">

  @if(language === 'de'){
    <ng-template cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="ryuhokuselect"
    [cdkConnectedOverlayHasBackdrop]="true" 
    (backdropClick)="ryuhokuselect = false">
    <img src="/assets/images/ryuhoku_world_de.png" class="imagebig">
  </ng-template>
  }
  @else if(language === 'ja'){
    <ng-template cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="ryuhokuselect"
    [cdkConnectedOverlayHasBackdrop]="true" 
    (backdropClick)="ryuhokuselect = false">
    <img src="/assets/images/ryuhoku_world_ja.png" class="imagebig">
  </ng-template>
  }

</div>
}


<!-- container travel info / map panel -->

<div class="displaycontainer">

<!-- map -->

  <div class="mapcontainer">

    <div style="height: 400px" leaflet [leafletOptions]="leafletoptions" (leafletMapReady)="onMapReady($event)">

      <div [leafletLayers]="poetmarkers"></div>

      <div [leafletLayers]="highwaymarkers"></div>

      <div [leafletLayers]="citymarkers"></div>

      <div [leafletLayers]="townmarkers"></div>

      <div [leafletLayers]="naturemarkers"></div>

      <div [leafletLayers]="travels"></div>

    </div>


<!-- mapmarkerselectors -->
 
<div class="mapmarkerselectors">

  <mat-chip-listbox selectable multiple>

    <mat-chip-option (click)="highwayview()"> {{ 'map.highway' | transloco }} </mat-chip-option>

    <mat-chip-option  (click)="cityview()"> {{ 'map.cities' | transloco }} </mat-chip-option>

    <mat-chip-option  (click)="townview()"> {{ 'map.town' | transloco }} </mat-chip-option>

    <mat-chip-option (click)="natureview()"> {{ 'map.nature' | transloco }} </mat-chip-option>

  </mat-chip-listbox>
</div>

</div>

<!-- render travel info from poet data -->

<div class="travelpanel">

  <ng-container *ngFor="let poet of poets | async">
    <div *ngIf="selectedPoetRomanized.includes(poet.id_name.romanized)">
      
      <!-- name -->
  
      <div class="travelpanel_poetname"> 
        
        @if(language == 'de')
        {
        {{ poet.id_name.romanized  }} 
        }
        {{ poet.id_name.literal  }} 

      </div>
     
     <!-- birth and death place -->
     
     <!-- travelselector -->
  
     <mat-chip-listbox selectable class="mat-chip-list-stacked">
  
      <ng-container *ngFor="let travelentry of poet.travels"> 
  
        <div class="travelchipcontainer">
      <mat-chip-option [value]="poet.name" (click)="travelchipselection(travelentry)">
        {{ travelentry.start }}
      </mat-chip-option>
  
      <span *ngIf="language=='ja'" class="travelsummary">
        {{ travelentry.summary_ja }}
      </span>
  
      <span *ngIf="language=='de'" class="travelsummary">
        {{ travelentry.summary_de }}
      </span>

        </div>
      </ng-container>

    </mat-chip-listbox>
  
    </div>
  </ng-container>
  
  </div>

</div>

</div>