.container {
  max-width: 100% !important;
  overflow: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}

.selectors {
  display: flex;
  justify-content: center;
}

mat-chip.travelchip {
  width: 209px !important;
  height: 48px;
  line-height: 34px;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  align-items: initial;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4%;
}

mat-chip.travelchip:hover {
  height: auto;
}

mat-chip.poetselected {
  background-color: #a0a9de;
}

.displaycontainer {
  margin-top: 4vh;
}

/*
.mapcontainer {
}
*/

.mapmarkerselectors {
  padding-top: 5%;
  margin: auto;
}

.travelpanel {
  height: auto;
  max-width: 400px;
  padding-top: 5%;
  margin-left: 20px;
}

.travelpanel_poetname {
  padding: 3%;
  font-size: large;
  background-color: darkslateblue;
  color: white;
  width: fit-content;
  margin-bottom: 5%;
  margin-left: 15%;
}

.travelchipcontainer{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.travelsummary {
  margin-left: 4%
}

.invisible {
  display: none !important;
}

.label {
  background-color: 'black' !important;
  color: 'white';
  font-size: 10;
}

.imagebig {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translateX(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  z-index: 4;
}


@media only screen and (max-width: 599px) {
  .selectors {
    height: 40vh;
    overflow: scroll;
    width: 80vw;
    margin-top: 2%;
    margin-left: 10%;
  }

  .map {
    margin-top: 10%;
    margin-bottom: 50%;
    height: 400px;
  }

  .mapmarkers {
    margin-left: 10%;
  }

  svg {
    height: 400px;
  }

  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    overflow-x: hidden !important;
    padding-left: 4%;
    padding-right: 4%;
  }

}
