.body {
  overflow: hidden;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
}

/* topmenu */

.topmenu {
  display: inline-flex;
  align-items: center;
  padding-bottom: 1%;
  width: 70em;
  margin: auto;
}

/* expander */

.expandall {
  margin-right: 3%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: auto;
  height: 60px;
}

.expandall:hover .tooltip {
  visibility: visible;
}

.expandall .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  transform: translate(20%, 120%);
}

.expandallicon {
  float: right;
  color: lightslategray;
  cursor: pointer;
  margin-right: 10%;
}

.expandalliconactive {
  color: black;
}

/* tags */

.tagstitle {
  font-size: xx-large;
  font-weight: bold;
  padding: 0.5em;
  background-color: slategrey;
  color: white;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: 1em;
}

.closebutton .mdc-button {
  background: white;
}


/* search */

.highlightsearch {
  background-color: #cabae9;
  border-radius: 20px;
}

.searchresult {
  box-shadow: 0px 0px 4px 4px darkslateblue;
  -webkit-box-shadow: 0px 0px 4px 4px darkslateblue;
}

.categoryresult {
  box-shadow: 0px 0px 4px 4px darkslateblue;
  -webkit-box-shadow: 0px 0px 4px 4px darkslateblue;
}


.button {
  border-radius: 20px !important;
}

.buttoncontainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  margin-right: 2%;
  margin-bottom: 0px;
}

.buttoncontainer .tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  transform: translate(20%, 120%);
}

.buttoncontainer:hover .tooltip {
  visibility: visible;
}

.cultural_property_id:hover .tooltip {
  visibility: visible;
}

.tag_matchip {
  width: fit-content !important;
}

.downloadlink {
  position: relative;
  left: 30px;
  text-decoration: auto;
  color: black;
}


/* chronology */

.spinner {
  display: flex;
  margin: auto;
  padding-top: 20%;
}

.date {
  padding-left: 15%;
}


.yearobject {
  display: flex;
}

.year_ja {
  padding-left: 0.2em
}

.eraname_ja_new {
  border-left: medium solid purple;
}

.eraname_ja_new .tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  z-index: 1;
  top: 0;
}

.eraname_ja_new:hover {
  background-color: lightgray;
  height: fit-content;
}

.eraname_ja_new:hover .tooltip {
  visibility: visible;
}

.year_era {
  writing-mode: vertical-lr;
  font-size: x-large;
  padding: 1% 2%;
}

.year_top {
  writing-mode: horizontal-tb;
  margin: 5% 0;
}

.year_gregorian_era {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: flex-end;
    width: 4em;
}

.new_year {
  color: darkgrey;
  font-size: small;
}

/* tooltip always needs to be two classes deep! */

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  writing-mode: horizontal-tb;
  z-index: 1;
}

.eraname {
  color: darkgrey;
  font-size: small;
  white-space: nowrap;
}

.eraname:hover {
  background-color: lightgray;
}

.eraname:hover .tooltip {
  visibility: visible;
}


.eraname_new {
  color: black;
}

.eraname_new:hover {
  background-color: lightgray;
}


.eraname_new:hover .tooltip {
  visibility: visible;
}

.eraname_new_top {
  font-size: large;
  display: block;
}

.new_year:hover .tooltip {
  visibility: visible;
}

.new_year:hover {
  background-color: lightgray;
}

.zodiac {
  color: darkgrey;
  font-size: small;
  white-space: nowrap;
}

.zodiac:hover {
  background-color: lightgray;
}

.zodiac:hover .tooltip {
  visibility: visible;
}
/* tenno classes */


.timeline_tenno {
  width: 1.5em;
  background-color: #c3b6dc;
  font-size: xx-large;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: white;
  /* secures empty div displays on mobile browsers */
  padding-bottom: 0.01px;
  flex-shrink: 0;
  flex-grow: 0;
}

.timeline_tenno .tenno_tooltip {
  position: absolute;
  visibility: hidden;
  width: inherit;
  background-color: #ab98ce;
  border-top-style: solid;
  border-top-width: 0.4em;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.timeline_tenno:hover .tenno_tooltip {
  visibility: visible;
}

.tennonew {
  height: fit-content;
}

.tennonew_container {
  position: absolute;
  display: flex;
  margin-left: 0.4em;
}

.tennonew .tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  writing-mode: horizontal-tb;
  z-index: 1;
  font-size: small;
  text-transform: initial;
  width: max-content;
}

.tennonew:hover {
  background-color: plum;
}

.tennonew:hover .tooltip {
  visibility: visible;
}

.daijotennonew .tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  writing-mode: horizontal-tb;
  z-index: 1;
  font-size: small;
  text-transform: initial;
  width: max-content;
}

.daijotennonew:hover {
  background-color: plum;
}

.daijotennonew:hover .tooltip {
  visibility: visible;
}

/* shogun classes */

.timeline_shogun {
  width: 1.5em;
  background-color: #b2a6cc;
  font-size: xx-large;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: white;
  /* secures empty div displays on mobile browsers */
  padding-bottom: 0.01px;
  flex-shrink: 0;
  flex-grow: 0;
}

.timeline_shogun .shogun_tooltip {
  position: absolute;
  visibility: hidden;
  width: inherit;
  background-color: #a394c1;
  border-top-style: solid;
  border-top-width: 0.4em;
  padding-top: 20px;
  padding-bottom: 30px;
  z-index: 1;
}

.timeline_shogun:hover .shogun_tooltip {
  visibility: visible;
}

.shogunnew {
  height: fit-content;
}

.shogunnew_container {
  position: absolute;
  display: flex;
  margin-left: 0.4em;
}

.shogunnew .tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  writing-mode: horizontal-tb;
  z-index: 1;
  font-size: small;
  text-transform: initial;
  width: max-content;
}

.shogunnew:hover {
  background-color: rgb(228, 187, 228);
}

.shogunnew:hover .tooltip {
  visibility: visible;
}

.ogoshonew .tooltip {
  position: absolute;
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(10%);
  writing-mode: horizontal-tb;
  z-index: 1;
  font-size: small;
  text-transform: initial;
  width: max-content;
}

.ogoshonew:hover {
  background-color: rgb(228, 187, 228);
}

.ogoshonew:hover .tooltip {
  visibility: visible;
}



/* events */

.eventwrapper {
  width: fit-content;
  margin: 1vw;
  /* height: fit-content; */
}

/* todo */

.events {
  display: inline-grid;
  margin: 10px;
  max-width: 200px;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0.5%;
  font-family: serif;
  min-height: 30px;
}

.summary {
  font-size: medium;
}

.divider {
  width: 80vw;
  position: absolute;
  left: 20%;
  z-index: -1;
}

/* category panel */

.categorypanel {
  width: 200px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;

}

.categoryname {
  color: white;
  background-color: darkslateblue;
  font-size: small;
  padding: 1px;
  margin-left: 3px;
}

.eventcategory {
  border: solid;
  background-color: lightgrey;
  border-color: grey;
  border-radius: 8px;
  padding: 0.5%;
  margin: 1%;
}

/* expander events */

.expandericon {
  position: absolute;
  float: right;
  color: silver;
  cursor: pointer;
  transform: translate(-30px, -20px);
  /*
  background-color: #fafafa;
  */
}

.expandericonactive {
  color: black;
}

.expansionhidden {
  height: 0;
  display: none;
  overflow: scroll;
}

.expansionvisible {
  height: unset;
  display: unset;
  margin-top: 4%;
  overflow: hidden;
}

.nonclickable {
  cursor: not-allowed !important;
  color: lightslategray !important;
}

/* works */

.worktitle {
  font-size: larger;
  margin: 5%;
  /*
  border-top-style: solid;
  border-width: thin;
  */
}

.work_note {
  margin-left: 6px;
}

.worktitlede {
  font-weight: bold;
  margin-bottom: 6px;
}

/*
.worktitlerom{
  
}
*/

.work_archive {
  margin-left: 6%;
  margin-top: 3%;
}


.digitised_archive {
  margin: 6px 0 0 0;
}


.work_note {
  margin-top: 15px;
}

.cultural_property_id .tooltip {
  margin-top: 15px;
  visibility: hidden;
  position: absolute;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  transform: translate(0, 1em);
  writing-mode: horizontal-tb;
  z-index: 1;
}

.cultural_property_id:hover .tooltip {
  visibility: visible;
}

.hr {
  border: none;
  background-color: inherit;
}

.separatorline {
  position: absolute;
  width: 70%;
  background: #E0E0E0;
  height: 1px;
}

/*
.digitised {

  border-bottom-style: solid;
  border-width: thin;
  border-color: lightgrey;
  margin-bottom: 3px;
  padding-left: 3px;
}
  */

/* bibliography */

.referenceheader {
  color: grey;
  font-weight: larger;
}

.completeworks {
  border-style: double;
  border-color: gold;
}

.detailreference {
  font-weight: lighter;
  padding-bottom: 20%;
}

.entryreference {
  border-bottom-style: inset;
  overflow: hidden;
  white-space: normal;
}

.referenceicon {
  transform: translate(-25px);
  position: absolute;
  color: gray;
}

.webicon {
  width: 20px;
  margin-right: 6px;
}

.cinii-icon {
  width: 15px;
  position: absolute;
  transform: translate(-21px, 30px);
}

.cultural_property {
  margin-left: 6%;
  margin-top: 2%;
  font-size: small;
  line-height: 1;
  color: grey;
}

.cultural_property a:link {
  color: grey;
}

.cultural_property a:hover {
  color: rgb(101, 101, 101);
}

.cultural_property a:visited {
  color: rgb(101, 101, 101);
}

/* image digitised */

.imagewrapper {
  position: relative;
  min-height: 150px;
  max-height: 200px;
  margin-top: 8%;
  margin-bottom: 8%;
}

.imagethumb {
  position: relative;
  object-fit: contain;
  cursor: pointer;
}

.imagebig {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  transform: translateX(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  z-index: 4;
}

/* macrocategories */

div[class*="lifedates"] {
  color: grey;
  border-color: grey;
  border-right-width: 6spx;
}

.politics {
  background-color: #dff1e4;
  color: seagreen;
}

.politics.worktitlede {
  color: #1d5a37;
}

.literature {
  background-color: #eeeeff;
  color: darkblue;
}

.literature.worktitlede {
  color: #020244;
}

.art {
  background-color: #f1dfdf;
  color: darkred;
}

.art.worktitlede {
  color: #6c0000;
}

.artist_lifedates {
  background-color: unset;
}

.poet {
  background-color: #ffe1cc;
  color: #ff7a1b
}

.poet.worktitlede {
  color: #f36500
}

.poetname {
  color: white;
  background-color: #e05d00;
  font-size: small;
  padding: 1px;
  margin-left: 3px;
}

/* elements hidden */

.invisible {
  display: none !important;
}

/*
.inviewable {
  height: 0px !important;
  content-visibility: hidden !important;
  border-style: none !important;
  margin: 0 !important;
  padding: unset !important;
}
*/

/* material styling */

/* todo */

::ng-deep .material-icons {
  vertical-align: middle;
}

.mat-exp-bibliography.mat-expansion-panel {
  background: none;
}

/*
.mat-expansion-panel {
  background: #fafafa;
}

.mat-expanded {
  width: 80em;
  margin-top: 4em;
}
  */

.mat-expansion-panel-header-title {
  margin: 10% 0 10% 0;
}

/* workaround, styling with class in cdkoverlay not working as expected */
/*
::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  background-color: rgba(0, 0, 0, .32);
  backdrop-filter: blur(2px);
}
*/

.tags_topstack {
  display: flex;
  background: rgba(0, 0, 0, .5);
  margin: -5% -5% -5% -5%;
}

.tags_chips {
      width: 80%;
    height: 40em;
    overflow: scroll;
}


@media screen and (max-width: 599px) {

  /* menu display: block causes x overflow */
  .mat-drawer-content {
    display: unset;
  }

  .tags_topstack {
    display: block;
    overflow: scroll;
  }

  .tags_chips {
    width: 90%;
    height: 100%;
    overflow: reset;
  }

  .topmenu {
    flex-wrap: wrap;
    padding-top: 6%;
    width: unset;
    margin: auto;
  }

  .yearobject {
    display: flex;
    flex-direction: column;
  }

  .year_top {
    background: darkgrey;
    color: white;
    margin: 5% 0 1% 0;
    padding: 2% 100%;
  }

  .year_era {
    writing-mode: horizontal-tb;
  }

  .year_gregorian_era {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .timeline_tenno {
    margin-left: 10%;
    width: 80%;
    writing-mode: horizontal-tb;
    font-size: large;
  }

  .timeline_tenno .tenno_tooltip {
    position: relative;
    visibility: visible;
    padding: 2%;
    width: unset;
    background-color: unset;
  }

  .tennonew {
    padding: 2%;
    border-top-style: none;
  }

  .tennonew_container {
    position: relative;
    display: flex;
    flex-flow: column;
  }

   .daijotennonew .tooltip {
    position: relative;
    visibility: visible;
    background-color: unset;
  }

  .timeline_shogun {
    margin-left: 10%;
    width: 80%;
    writing-mode: horizontal-tb;
    font-size: large;
    border-top-width: 0em;
    border-top-style: none;
  }

  .timeline_shogun .shogun_tooltip {
    position: relative;
    visibility: visible;
    padding: 2%;
    width: unset;
    background-color: unset;
    border-top-width: 0em;
    border-top-style: none;
  }

  .shogunnew {
    padding: 2%;
  }

  .shogunnew_container {
    position: relative;
    display: flex;
    flex-flow: column;
  }

  .ogoshonew .tooltip {
    position: relative;
    visibility: visible;
    background-color: unset;
  }

  .divider_point {
    visibility: hidden;
  }

  .ogosho .divider_point {
    margin-right: 200px;
  }

  .daijo_tenno .divider_point {
    margin-right: 200px;
  }

  .eraname_new {
    background-color: unset;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .eraname_new_top {
  font-size: large;
  display: unset;
}

  .eraname_new .tooltip {
    visibility: visible;
    position: relative;
    display: block;
    width: 100%;
    white-space: break-spaces;
    font-size: x-small;
    background: lightgray;
    transform: unset;
    background-color: unset;
    color: gray;
  }

  .ogosho {
    color: #e0dbea;
  }

  .daijo_tenno {
    color: #e0dbea
  }

  .zodiac:hover .tooltip {
  visibility: hidden;
}

.eraname:hover .tooltip {
  visibility: hidden;
}

  .events {
    max-width: none;
  }

}

/* styles unused */

/*
.viewportcontainer{
  position: absolute; 
  top:0; left:0; 
  width:100%; 
  height:100%; 
  pointer-events:none
}
  */

/*
.downloadcontainer {
  border-top-style: solid;
  border-width: thin;
  border-color: darkgray;
  border-right-style: solid;
  border-radius: 0 10px 0 10px;
}
  */
/*
.searchexpandcontainer{
  display: inline-flex;
  align-items: center;
}
  */

/* expandertooltip what purpose? */
/*

.expandertooltip:hover {
  display: unset !important;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: grey;
}
*/


/*

overlay for tenno/shogun

.detail {
    position: absolute;
    text-transform: none;
    writing-mode: lr;
    max-width: 200px;
    padding: 1%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 18px;
    font-size: small;
    z-index: 2;
    background-color: #d6a7fa;
    transform: translate(20%,40%);
  }
*/