.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
}

/* 1 topmenu */

.topmenu {
  margin-right: 3%;
  margin-bottom: 1.25em;
  display: inline-flex;
  align-items: center;
  padding: 2%;
  width: -webkit-fill-available;
}

/* expander */

.expandall {
  margin-right: 3%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: auto;
  height: 60px;
}

.expandall:hover .tooltip{
  visibility: visible;
}

.expandall .tooltip{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  transform: translate(20%, 120%);
}

.expandallicon{
  float: right;
  color: lightslategray;
  cursor: pointer;
  margin-right: 10%;
}

.expandalliconactive{
  color: black;
}

/* search */ 

.highlightsearch {
  background-color: #cabae9; 
  border-radius: 20px;
}

.buttoncontainer {
    align-items: center;
    display: flex;
    height: auto;
    margin-right: 2%;
}

.button {
  border-radius: 20px !important;
}

.searchresult {
  box-shadow: 0px 0px 4px 4px darkslateblue;
  -webkit-box-shadow: 0px 0px 4px 4px darkslateblue;
}

.categoryresult {
  box-shadow: 0px 0px 4px 4px darkslateblue;
  -webkit-box-shadow: 0px 0px 4px 4px darkslateblue;
}


/* download menu */

.buttoncontainer{
  margin-bottom: 0px;
  display: inline-flex;
  cursor: pointer;
  height: fit-content;
}

.buttoncontainer .tooltip{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  transform: translate(20%, 120%);
}

.buttoncontainer:hover .tooltip{
  visibility: visible;
}

.downloadlink{
  position: relative;
  left: 30px;
  text-decoration: auto;
  color: black;
}


/* 2 tags */

.tagcontainer {
  margin-bottom: 2%;
}

.tagchips {
  width: auto;
  padding: 2%;
  margin-bottom: 3%;
  overflow: scroll;
  float: letft;
}

.tagstitle {
  font-size: larger;
  font-weight: bold;
  padding: 1%;
}


/* 3 chronology */

.spinner {
  display: flex;
  margin: auto;
  padding-top: 20%;
}

.date {
  padding-left: 15%;
}

/* tenno and shogun */


.timeline_tenno {
  width: 30px;
  background-color: #493759;
  font-size: xx-large;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  /* secures empty div displays on mobile browsers */
  padding-bottom: 0.01px;
}

.timeline_shogun {
  width: 30px;
  background-color: #233B6C;
  font-size: xx-large;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  /* secures empty div displays on mobile browsers */
  padding-bottom: 0.01px;
}

/* events */

.eventwrapper {
   width: fit-content;
  margin: 1vw;
 /* height: fit-content; */
}

.events {
  display: inline-grid;
  margin: 10px;
  max-width: 200px;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  padding-top: 0.5%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0.5%;
  font-family: serif;
}

.divider {
  width: 80vw;
  position: absolute;
  left: 20%;
  z-index: -1;
}

/* poet event */

.poetevent {
  border-color: #a88cdb;;
  border-right-width: 6px;
}

.poetname {
  color: white;
  background-color: darkslategray;
  font-size: small;
  padding: 1px;
  margin-left: 3px;
}

/* category panel */

.categorypanel{
  width: 200px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;

}

.categoryname {
  color: white;
  background-color: darkslateblue;
  font-size: small;
  padding: 1px;
  margin-left: 3px;
}

.eventcategory {
  border: solid;
  background-color: lightgrey;
  border-color: grey;
  border-radius: 8px;
  padding: 0.5%;
  margin: 1%;
}

/* expander events */

.expandericon {
  position: absolute;
  float: right;
  color: silver;
  cursor: pointer;
  transform: translate(-30px, -50%);
  background-color: #fafafa;
}

.expandericonactive {
  color: black;
}

.expansionhidden {
  height: 0;
  display: none;
  overflow: scroll;
}

.expansionvisible {
  height: unset;
  display: unset;
  margin-top: 4%;
}

.nonclickable{
  cursor: not-allowed !important;
  color: lightslategray !important;
}

/* works */

.worktitle {
  color: darkred;
  font-size: larger;
  margin: 6%;
  border-top-style: solid;
  border-width: thin;
}

.hr {
  border: none;
  background-color: inherit;
}

.separatorline {
  position: absolute;
  width: 70%;
  background: #E0E0E0;
  height: 1px;
}

.digitised {
  border-bottom-style: solid;
  border-width: thin;
  border-color: lightgrey;
  margin-bottom: 3px;
  padding-left: 3px;
}

/* bibliography */

.referenceheader {
  color:grey;
  font-weight: larger;
}

.completeworks {
  border-style: double;
  border-color: gold;
}

.detailreference {
  font-weight: lighter;
  padding-bottom: 20%;
}

.entryreference {
  border-bottom-style: inset;
  overflow:hidden;
  white-space: normal;
}

.referenceicon {
  transform: translate(-25px);
  position: absolute;
  color: gray;
}

.webicon {
  width: 15px;
  position: absolute;
  transform: translate(-21px, 30px);
}

/* image digitised */

.imagewrapper{
  position: relative;
  min-height: 150px;
  max-height: 200px;
  margin-top: 8%;
  margin-bottom: 8%;
}

.imagethumb {
  position: relative;
  object-fit: contain;
  cursor: pointer;
}

.imagebig {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  transform: translateX(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  z-index: 4;
}

/* macrocategories */

div[class*="lifedates"] {
  color: grey;
  border-color: grey;
  border-right-width: 6spx;
}

div[class*="politics"] {
  border-color: #a6a4a4;
  border-right-width: 6px;
}

div[class*="literature"] {
  border-color: #7a0404;
  border-right-width: 6px;
}

div[class*="art"] {
  border-color: #ebac38;
  border-right-width: 6px;
}

/* elements hidden */

.invisible {
  display: none !important;
}

/*
.inviewable {
  height: 0px !important;
  content-visibility: hidden !important;
  border-style: none !important;
  margin: 0 !important;
  padding: unset !important;
}
*/

/* material styling */

::ng-deep .material-icons {
  vertical-align: middle;
}

.mat-expansion-panel{
  background: #fafafa;
}

.mat-expansion-panel-header-title {
  justify-content: center;
  margin: 10%;
}

/* @media screen and (max-width: 599px) { } */

/* styles unused */

/*
.viewportcontainer{
  position: absolute; 
  top:0; left:0; 
  width:100%; 
  height:100%; 
  pointer-events:none
}
  */

/*
.downloadcontainer {
  border-top-style: solid;
  border-width: thin;
  border-color: darkgray;
  border-right-style: solid;
  border-radius: 0 10px 0 10px;
}
  */
/*
.searchexpandcontainer{
  display: inline-flex;
  align-items: center;
}
  */

/* expandertooltip what purpose? */
/*

.expandertooltip:hover {
  display: unset !important;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: grey;
}
*/


/*

overlay for tenno/shogun

.detail {
    position: absolute;
    text-transform: none;
    writing-mode: lr;
    max-width: 200px;
    padding: 1%;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 18px;
    font-size: small;
    z-index: 2;
    background-color: #d6a7fa;
    transform: translate(20%,40%);
  }
*/