
.poetcomponentcontainer {
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10vh;
}

.poetselectors {
width: 100%;
}

.searchpanel {
margin-right: 10px;
}

.searchicon {
margin-right: 10px;
}

.poetchips {
margin: 0 auto;
width: 80%;
margin-bottom: 20px;
}

.timelinecontainer {
width: 80%;
margin: 10vh auto;
border: 3px;
border-style: solid;
border-color: #E0E0E0;
justify-content: flex-start;
position: relative;
}

.timelinemarkerstart {
  top: -2%;
  font-size: 400%;
  color: #e0e0e0;
  position: absolute;
}

.timelinemarkerend {
  bottom: -3%;
  font-size: 400%;
  color: #e0e0e0;
  position: absolute;
}

.timelinemarker {
  font-size: xx-large;
  color: #c9c9c9;
  position: absolute;
  width: 100%;
  border-top-style: solid;
  border-width: thin;
  border-color: #e0e0e0;
  opacity: .7;
}

.poettimelinecontainer {
  height: 100%;
  padding-left: 25%;
  overflow-x: scroll;
  display: flex;
  padding-bottom: 100px;
}

.poettimelinesubcontainer {
  margin-right: 10%;
}

.poettimeline {
  position: relative;
  background-color: #f0b6b6;
  border-left-style: inset;
  border-color: red;
  width: 20px;
}

.timelineName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  color: #f56262;
  font-size: x-large;
  margin-left: 40%;
  position: absolute;
}

.timelineromanized{
  writing-mode: vertical-rl;
  position: absolute;
  color: #f56262;
  white-space: nowrap;
  transform: translate(-120%);
}

.timelinedatestart {
  writing-mode: vertical-rl;
  color: #8b0000;
  float: left;
}

.timelinedateend {
  writing-mode: vertical-rl;
  color: #8b0000;
  margin-top: 1%;
  float: left;
}


.poetcardcontainer {
margin: 0 auto;
margin-top: 5%;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 10%;
width: inherit;
}

.poetcard {
width: 200px;
margin: 2%;
float:left;
}

.poetextended {
float:right;
}


.poetcard {
width: 200px;
margin: 2%;
float:left;
}

.detailheader {
font-size: larger;
}

.poetextended {
float:right;
}


.grid {
display: grid;
border-style: outset;
grid-template-columns: 50% 50%;
grid-template-rows: 78% 20%;
grid-template-areas:
"name romanized"
"name dates";
height: 100px;
}

.cardname {
grid-area: name;
text-align: left;
font-size: 300%;
line-height: 90%;
font-weight: bold;
color: #b03535;
}

.cardromanized {
grid-area: romanized;
font-size: 150%;
line-height: 100%;
text-transform: uppercase;
font-weight: bold;
word-break: break-all;
letter-spacing: 2px;
text-align: justify;
}

.carddates {
grid-area: dates;
font-weight: lighter;
font-size: 120%;
color: red;
}

.summary {
border-top-style: inset;
padding-top: 10%;
}

.mat-expansion-panel-header {
align-items: baseline;
padding: unset !important;
padding-right: 12px !important;
}


.mat-expansion-panel-header-title {
justify-content: center;
margin: 10%;
}

::ng-deep .mat-expansion-panel-body {
overflow: auto;
}

p {
padding-bottom: 10%;
padding-top: 10%;
font-size: large;
font-weight: bold;
}

.detail {
white-space: pre-wrap;
}

.detailnamen {
font-weight: lighter;
padding-bottom: 20%;
}

.detailplaces {
font-weight: lighter;
padding-bottom: 20%;
}

.detailtimeline {
font-weight: lighter;
padding-bottom: 20%;
}

.poetevent {
margin-bottom: 10%;
}



/* bibliography */

.referenceheader {
font-weight: lighter;
padding-bottom: 20%;
}

.completeworks {
border-style: double;
border-color: gold;
}

.entryreference {
margin-bottom: 10%;
border-bottom-style: inset;
overflow:hidden;
white-space: normal;
}

.publisher{
color: #C86464;
}

.referencetitle {
color:#663333;
}

.workreference{
margin: 10%;
font-weight: bold;
}

.referenceicon {
transform: translate(-25px);
position: absolute;
color: gray;
}

/* digitised work */

/* dieser wrapper wird in detailimagebig auf position absolut geseetzt, um das bild (position fixed) aus der dom-hierarchie zu lösen, wäre auch mit der imagebig funktion zu lösen */
.imagewrapper {
position:relative;
}

.detailimage {
width: 180px;
margin-top: 10px;
margin-bottom: 10px;
border-style: solid;
width: -webkit-fill-available;
width: stretch;
width: -moz-available;
}

.detailimagebig {
position: fixed;
max-width: none;
z-index: 3;
border-style: solid;
border-color: black;
cursor: pointer;
border-width: 20px;
top: 50%;
left: 50%;
width: 90%;
transform: translateX(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
.imagewrapper {
  position:absolute;
}
}

.cover {
position: fixed;
z-index: 2;
top:0;
left:0;
background: black;
opacity: 0.9;
width: 100%;
height: 10000px; /* spannt bei 100% nicht bis ans ende */
}

.notetitle{
border-style:unset;
font-weight: lighter;
color: gray;
/* um das expansion panel unabhängig vom großen panel zu stylen */
}

.workreferencetitle{
border-style:unset;
font-weight: lighter;
color: gray;
}

::ng-deep .material-icons {
vertical-align: middle;
}

.icon {
width: 15%;
float: right;
margin-top: -20px;
}

.downloadicon {
color:red;
margin-top: 30%;
}

.invisible {
display: none !important;
}

.worktitle {
color: red;
margin-top: 10%;
margin-bottom: 10%;
}

.worktitlede {
  display: block;
  padding-bottom: 5%;
}



.mdc-evolution-chip__graphic {
  display: none;
}

::ng-deep .mat-checkbox-checkmark {
  display: none;
}

@media only screen and (max-width: 599px) {

.poetselectors {
  width: 100%;
  margin-top: 5%;
  margin-left: 10%;
}

.timelinemarkerstart {
  top: -2%;
  font-size: 100%;
  color: #c9c9c9;
  position:absolute;
}

.timelinemarkerend {
  bottom: -3%;
  font-size: 100%;
  color: #c9c9c9;
  position:absolute;
}

.timelinemarker {
  font-size: 100%;
  color: #c9c9c9;
  position:absolute;
  width: 100%;
  border-top-style: solid;
  border-width: thin;
  border-color: #E0E0E0;
  opacity: 0.7;
}

.poettimeline {
position: relative;
float:left;
justify-content: center;
padding: 0.5%;
width:auto;
background-color: rgba(187, 115, 7, 1);
color: rgba(227, 172, 89, 1);
margin: 1%;
width: 2%;
}

.timelineName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  font-size: large;
}

.timelineromanized{
  transform: translate(0,80%) rotate(90deg);
  white-space: nowrap;
  color: red;
  background-color: white;
  display: none;
}

.timelineDate {
  transform: translate(0) rotate(90deg);
  white-space: nowrap;
  color: inherit;
}

}
