<div class="poetcomponentcontainer">

  <div class="toppanel">

    <div class="downloadcontainer">
      <div class="buttoncontainer">
        <button [matMenuTriggerFor]="downloadmenu" class="button" mat-icon-button>
          <i class="material-icons">download</i>
        </button>
        <span class="tooltip">
          {{ 'poets.download' | transloco }}
        </span>
      </div>

      <mat-menu #downloadmenu="matMenu">

        <button #downloadmenutitle mat-menu-item class="downloadbutton">
        <div style="float:left">
        <img style="width:20px;padding-right:6px" src="/assets/icons/icon_numbers.png">
        </div>
        <a id="poets_download_numbers" class="downloadlink" 
        href="assets/downloads/poets_numbers.zip" download="poets_numbers">
          {{ 'poets.download' | transloco }} (Numbers)
        </a>
        </button>

        <button #downloadmenutitle mat-menu-item class="downloadbutton">
        <div style="float:left">
        <img style="width:20px;padding-right:6px" src="/assets/icons/icon_excel.png">
        </div>
        <a id="poets_download_excel" class="downloadlink" 
        href="assets/downloads/poets_excel.zip" download="poets_excel">
          {{ 'poets.download' | transloco }} (Excel)
        </a>
        </button>

        <button #downloadmenutitle mat-menu-item class="downloadbutton">
        <div style="float:left">
        <img style="width:20px;padding-right:6px" src="/assets/icons/icon_csv.png">
        </div>
        <a id="poets_download_csv" class="downloadlink" 
        href="assets/downloads/poets_csv.zip" download="poets_csv">
          {{ 'poets.download' | transloco }} (CSV)
        </a>
        </button>

      </mat-menu>
    
    </div>

    <!-- search input -->

    <div class="searchpanel">

      <mat-form-field class="searchbox" style="width:40vw">

        <mat-label class="placeholder">
          <i class="material-icons searchicon">search</i> {{ 'poets.search'| transloco }}
        </mat-label>

        <input matInput name="search" size="50" type="text" [(ngModel)]="searchText">

      </mat-form-field>
    </div>

    <!-- Sort for Period -->
    <mat-form-field appearance="fill" style="width:20vw">
      <mat-label> {{ 'poets.period' | transloco }} </mat-label>
      <mat-select placeholder="Periode" [(value)]="selectedperiod">
        @for(selectorperiod of selectorperiods; track $index){
        <mat-option [value]="selectorperiod"> 
        @if(language === 'de'){  {{ selectorperiod.viewValue_de }} }
        @if(language === 'ja'){  {{ selectorperiod.viewValue_ja }} }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>

  <div class="poetselectors">

    <div class="poetchips">
      <mat-chip-listbox selectable multiple>
        @for(poet of poetarray | searchpoets: searchText; track $index){
          @if(!(poet.death > selectedperiod.start && poet.death < selectedperiod.end)){
        <mat-chip-option color="primary" [value]="poet.id_name.romanized" (click)="chipselection(poet)">
          @if(language === 'de'){ <span>{{ poet.id_name.romanized }} &nbsp; </span>}
          {{ poet.id_name.literal }}
        </mat-chip-option>
        }
      }
      </mat-chip-listbox>
    </div>


    @if(searchText !== ''){
    <div class="workresults">

      @for(work of poetarray | poetworksearch: searchText; track $index){
      <div class="workresults_entry">

        <div class="workresults_author">

          @for(author of work.author; track $index){

              @if(language === 'de'){   
              <div>{{ author.romanized }}</div>
              <div>{{ author.literal }}</div> 
            }

              @if(language === 'ja'){ 
              <div>{{ author.literal }}</div>
              }


        }

        </div>

        <div class="workresults_title">
          @if(language === 'de'){ 
            <div>{{ work.titleromanized }}</div>
          }
          <div>{{ work.title }}</div>
          @if(language === 'ja' && work.titlekana){ 
          <div>( {{ work.titlekana }} ) </div>
          }
        </div>


        @if((work.issued['date-parts'] | splitFirst) !== ''){
        <div class="workresults_year">[  {{ work.issued['date-parts'] | splitFirst }} ] </div>
        }

      </div>
     }

    </div>
    }


    <div class=timelinecontainer [style.height]="(timelineHeight + 'px')">
      <div class="timelinemarkerstart"> 1500 </div>
      <div class="timelinemarker" style="top:25%;"> 1600 </div>
      <div class="timelinemarker" style="top:50%;"> 1700 </div>
      <div class="timelinemarker" style="top:75%;"> 1800 </div>
      <div class="timelinemarkerend"> 1900 </div>

      <div class="poettimelinecontainer">

<!-- [ngClass]="{'invisible': !(selectedPoet.includes(linepoet.id_name.romanized))} 
           @if(selectedPoet.includes(linepoet.id_name.romanized)){
-->

        @for(linepoet of displayPoets; track $index){
            <div class="poettimelinesubcontainer">
              <div class="timelinedatestart"
            [style.margin-top]="(((linepoet.birth - 1500) * (timelineHeight / timelineYears)) -40) + 'px'">
            {{linepoet.birth}}</div>
          <div class="poettimeline" [style.height]="((linepoet.death - linepoet.birth) / timelineHeight *100) + '%'"
            [style.margin-top]="((linepoet.birth - 1500) * (timelineHeight / timelineYears)) + 'px'">
            @if(language ==='de'){<div class="timelineromanized">{{ linepoet.id_name.romanized}}</div>}
           <!-- add abbreviated name -->
            @for(name of linepoet.names; track $index){ @if(name.type === 'abbreviated'){<div class="timelineName">{{ name.literal }}</div> }
          }
          </div>
          <div class="timelinedateend">{{linepoet.death}}</div>
        </div>
      }

      </div>

    </div>


  </div>

  <div class="poetcardcontainer">

    <!-- load array of poets selected -->
    @for(cardpoet of displayPoets; track $index){

        <div class="poetcard {{cardpoet.id_name.romanized}}">
          <div class="grid">
            <div class="cardname">
            @if(cardpoet.id_name.literal.length === 3){ 
              {{cardpoet.id_name.literal | slice: 0: 1}} <br> 
              {{cardpoet.id_name.literal | slice: 1: 3}} }
            @else{
             {{ cardpoet.id_name.literal }} 
            }
            </div>
            <div class="cardromanized"> {{ cardpoet.id_name.romanized }} </div>
            <div class="carddates"> {{ cardpoet.birth }} - {{ cardpoet.death }} </div>
            <!--      <div class="summary"> {{ cardpoet.summary }} </div> -->
          </div>

          <mat-expansion-panel>

            <mat-expansion-panel-header class="mat-elevation-z0" style="height:10vh">
              <mat-panel-title (click)="expandselection(cardpoet)" class="poetcarddetails">
                {{ 'poets.detail' | transloco }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="detail">

              <!-- START names -->

              <mat-expansion-panel class="namespanel mat-elevation-z0" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    <span> {{ 'poets.names' | transloco }} </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- poet names -->

              <!-- check to prevent array pollution by previous selection -->    
              @for(entry of cardpoet.nametypes; track $index){
              <div style="margin-left:-20px;">
                <span style="color:#a88cdb;">
                  @if(language === 'de'){ {{ entry.viewValue_de }} }
                  @else if(language === 'ja'){ {{ entry.viewValue_ja }} }
                  <br> [
                  @for(name of cardpoet.names; track $index){
                  @if(entry.type === name.type){ <span style="color:black;">  @if(language === 'de'){ {{ name.romanized }} } {{ name.literal }} </span> } }
                      ]
                </span>
              </div>
              }
          

              </mat-expansion-panel>

              <!-- START places -->

              <mat-expansion-panel class="mat-elevation-z0" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'poets.places' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                  <div class="poetname_title">{{ 'poets.placebirth' | transloco }} </div>
                  @if(language === 'de'){<span>{{ cardpoet.placebirth |isplace }} </span>}
                  <span style="white-space:nowrap;">{{ cardpoet.placebirth }}</span>


                  <div class="poetname_title">{{ 'poets.placedeath' | transloco }} </div>
                  @if(language === 'de'){<span>{{ cardpoet.placedeath |isplace }} </span>}
                  <span style="white-space:nowrap;">{{ cardpoet.placedeath }}</span>

                  <div class="poetname_title">{{ 'poets.placeactive' | transloco }} </div>
                  @if(language === 'de'){<span>{{ cardpoet.placeactive |isplace }} </span>}
                  <span style="white-space:nowrap;">{{ cardpoet.placeactive }}</span>

              </mat-expansion-panel>


              <!-- START poet works -->

              <mat-expansion-panel class="mat-elevation-z0" hideToggle="true">

                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'poets.works' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                @for(PoetWorksobject of PoetWorksobjectArray; track $index){
                  @if(PoetWorksobject.nametoken === cardpoet.id_name.romanized){
                    @for(entry of PoetWorksobject.poetworks; track $index){
                      <!-- check if work author is poet -->
                      <!-- anthologien usw sind hier ausgenommen von der anzeige -->

                      @if(entry.author && entry.author.length && entry.author[0]?.romanized === cardpoet.id_name.romanized){
                      <div style="margin-left:-20px;">

                      <!-- issued -->
                      @if((entry.issued['date-parts'] | splitFirst) !== ''){
                        {{ entry.issued['date-parts'] | splitFirst }}
                      }
                      <br>

                      <!-- title -->
                      @if(language === 'de'){ <span style="color:#673ab7;padding-top: 6vh;"> {{entry.titleromanized}} </span><br><span style="color:#a88cdb;"> {{entry.title}} </span> }
                      @else if(language === 'ja'){   <span><ruby> {{entry.title}} <rt>{{entry.titlekana}}</rt></ruby></span> }
                      
                      <!-- first link only,  launch icon only, no archive for works display -->
                        @if(entry.digitised && entry.digitised[0]?.digitisedLink){ <span style="float:right;"><a [href]="entry.digitised[0].digitisedLink" target="_blank"><i class="material-icons">launch</i></a></span> }
                        
                      <!-- only catalogue = digitised work no image -->
                        @if(entry.digitised && entry.digitised[0]?.digitisedImage === ''){ <span> {{ 'chronology.onlybibliodata' | transloco }}</span> }

                      <mat-divider></mat-divider>

                      </div>
                        }
                      }
                    }
                  }
                

              </mat-expansion-panel>


              <!-- START poet reference bibliography -->

              <mat-expansion-panel class="mat-elevation-z0" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'chronology.bibliography' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- poet references copy of  bibliography display in biography details -->


                <!-- START entry reference bibliographyreferencestyle(cardpoet.reference) -->

                @if(cardpoet.reference){

                  <button #downloadreference (click)="poetreferenceDownload(cardpoet)" class="referencedownload">
                  <div>
                  <div style="float:left">
                  <img style="width:20px;padding-right:6px" src="/assets/icons/icon_json.png">
                  </div>
                  <a id="{{cardpoet.id_name.romanized}}_referencedownload" class="downloadlink" download="{{cardpoet.id_name.romanized}}_bibliography">
                    {{ 'poets.referencedownload' | transloco }} (JSON)
                  </a>
                  </div>
                  </button>

                  @for(entry of cardpoet.reference; track $index){
                  <div style="margin-left:-20px;margin-bottom: 10%;border-bottom-style: inset;overflow: hidden;white-space: normal;">
                    <!-- removed class for completeworks
                     [ngClass]="{'completeworks': (entry.keyword && entry.keyword !== undefined && entry.keyword == 'completeworks')}" 
                     -->
                    <div>

                      <!-- labels reproduction, edition, translation, completeworks -->

                      @if(entry.keyword?.includes('completeworks')){<div style="background-color: #bf9b30;color:white"> {{ 'poets.completeworks' | transloco }}</div>}
                      @if(entry.keyword?.includes('reproduction')){<div style="background-color: darkgrey;color:white"> {{ 'poets.reproduction' | transloco }}</div>}
                      @if(entry.keyword?.includes('edition')){<div style="background-color: darkblue;color:white"> {{ 'poets.edition' | transloco }}</div>}
                      @if(entry.keyword?.includes('translation')){<div style="background-color: darkmagenta;color:white"> {{ 'poets.translation' | transloco }}</div>}

                      <!-- poet reference bibliography editor -->
                      <!-- exclude editor of chapter -->

                      <span>
                      @if(entry.editor && entry.editor.length && !(entry.type == 'chapter')){
                        @for(editor of entry.editor; track $index){
                        @if((editor.literal | islatin) || (editor.family | islatin)){
                        <span>{{editor.literal}}{{editor.family}}{{editor.given}} </span> }
                        @else{
                        <span>{{editor.literal}}{{editor.family}}{{editor.given}} </span> }
                        }
                        @if(entry.title | islatin){ (Hrsg.) }
                        @else{ (編集) }
                      }
                      </span>

                      <!-- author -->

                      @if(entry.author && entry.author.length){
                        @for(author of entry.author; track $index; let last = $last){

                        @if((author.literal | islatin) || (author.family | islatin)){
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{author.literal}}@if(author.given){ {{author.family}}, {{author.given}} }</span>}
  
                        @else{
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{author.literal}}@if(author.given){ {{author.family}}{{author.given}} }</span>}
                        }
                        }

                      <!-- issued (date) -->

                      @if((entry.issued['date-parts'] | splitFirst) !== ''){
                        {{ entry.issued['date-parts'] | splitFirst }}
                      }

                      <!-- title -->

                      @if(!(entry.title | islatin)){
                      <span class="referencetitle">
                        {{ entry.title }}
                      </span>
                    }

                      <!-- cursive title for latin -->

                      @if(entry.title | islatin){
                      <span class="referencetitle">
                        <i> {{ entry.title }} </i>
                      </span>
                    }



                      <span style="color: grey;">

                        <!-- collection-title + volume -->

                        @if(entry['collection-title']){ 
                        @if(entry.volume){ ({{entry['collection-title']}} {{entry.volume}}) }
                        @else{ ({{entry['collection-title']}}) }
                        }

                        <!-- container-title (journal) + volume -->

                        @if(entry.type == 'article-journal'){ 
                        @if(entry.page){ @if(language === 'de'){ 
                          ({{ entry['container-title'] }} {{ entry.volume }} / S. {{ entry.page }}) }
                        @else if(language === 'ja'){ 
                          ({{ entry['container-title'] }} {{ entry.volume }} / {{ entry.page }} 頁) }
                        }
                        <!-- if no page numbers are provided-->
                        @else{ ({{ entry['container-title'] }} {{ entry.volume }})}  
                       } 
                        

                          @if(entry.type == 'chapter'){
                          @if(entry.editor?.length){
                            @for(editor of entry.editor; track $index){
                            @if((editor.literal | islatin) || (editor.family | islatin)){
                            <span>{{editor.literal}}{{editor.family}}{{editor.given}} </span> }
                            @else{
                            <span>{{editor.literal}}{{editor.family}}{{editor.given}} </span> }
                            } 
                            @if(entry.title | islatin){ (Hrsg.) }
                            @else{ (編集) }
                           }

                           @if(entry.page){ @if(language === 'de'){ 
                            ({{ entry['container-title'] }} {{ entry.volume }} / S. {{ entry.page }}) }
                          @else if(language === 'ja'){ 
                            ({{ entry['container-title'] }} {{ entry.volume }} / {{ entry.page }} 頁) }
                          }
                          <!-- if no page numbers are provided-->
                          @else{ ({{ entry['container-title'] }} {{ entry.volume }}) }  
                        }

                        <!-- if book is multivolume publication without collection/container entry-->
                        @if(!entry['collection-title'] && entry.type !== 'article-journal' && entry.type !== 'chapter'){
                            @if(entry.volume){ {{entry.volume }} } 
                            @if(entry.page){  
                              @if(language === 'de'){ S. } {{ entry.page }} 
                              @if(language === 'ja'){ 頁} } 
                           }

                      </span>

                      <!-- publisher -->

                      <span>
                        {{ entry.publisher }}
                      </span>

                      <!-- URL catalogue CiNii -->

                      @if(entry.URL !== '' && entry.URL.includes('ci.nii') || entry.URL.includes('cir.nii')){
                        <a [href]="entry.URL" target="_blank">
                          <img style="width: 20px;position:absolute;right:0px;margin-top:-20px" src="/assets/icons/icon_cinii.png">
                        </a>
                        }

                      <!-- note  -->

                      @if(entry.note?.length){ 
                        <div style="color:grey;padding:4%;font-size:small;max-height:200px;overflow:scroll" 
                        [innerHtml]="entry.note">
                      </div> }

                      <!--

                        <mat-expansion-panel class="mat-elevation-z0 entrynote">
                          <mat-expansion-panel-header>
                            <mat-panel-title [innerHTML]="'poets.note' | transloco" class="notetitle"></mat-panel-title>
                          </mat-expansion-panel-header>

                          <div [style.margin-left]="'-20px'" [style.margin-right]="'-26px'" [style.font-size]="'small'"
                            [innerHtml]="entry.note"></div>
                        </mat-expansion-panel>

                     -->


                    </div>
                  </div>
                  }
                }

              </mat-expansion-panel>

              <!-- END reference bibliography -->

              <!-- START biography -->

              <div class="detailtimeline">

                <p>{{'poets.biography' | transloco }}</p>

                @for(yearobject of cardpoet.timeline; track $index){

                <div>
                  <b> {{ yearobject.year }} </b>
                </div>

                @for(event of yearobject.events; track $index){
                <div class="poetevent">

                  <!-- innerHTML to render highlights such as italics etc in data -->

                  @if(event.event_date?.length){
                    @if(language === 'de'){<span style="color:darkgrey;font-size:small;"> ( {{ (event.event_date | monthpipe).date_de }} ) </span>}
                    @if(language === 'ja'){<span style="color:darkgrey;font-size:small;"> ( {{ (event.event_date | monthpipe).date_ja }} ) </span>}
                    }

                  @if(language === 'de'){ 
                    <div style="color: black;" [innerHTML]="event.summary_de"></div> 
                    @if(event.expansion_de !== ''){  
                    <div style="color: grey;padding:5%;" [innerHTML]="event.expansion_de"></div> 
                    }
                  }
                  
                  @if(language === 'ja'){ 
                    <div style="color: black;" [innerHTML]="event.summary_ja"></div> 
                    @if(event.expansion_ja !== ''){  
                    <div style="color: grey;padding:5%;" [innerHTML]="event.expansion_ja"></div>
                    } 
                  }

                  <!-- START work -->

                  @for(work of event.work; track $index){

                  <div class="poet_work" style="padding-left:2vw;">  

                 <!-- @if(work.title !==''){} -->
                  <div class="worktitle">
                    @if(language === 'de'){ 
                        @if(work.title_de && work.title_de !== ''){ 
                          <span class="worktitlede">  
                            {{work.title_de}} 
                          </span> 
                          (<i>{{work.titleromanized}}</i>) 
                          <span class="worktitleja"> 
                            {{work.title}} 
                          </span>
                        }
                        @else{ 
                          <span class="worktitlede"> 
                            <i>{{work.titleromanized}}</i> 
                          </span>
                          <span class="worktitleja"> 
                            {{work.title}} 
                          </span> 
                        }
                    }
                    @else if(language === 'ja'){
                      <span>
                        <ruby>{{work.title}} <rt>{{work.titlekana}}</rt> </ruby>
                      </span>
                    }
                   
                  </div>
                  

                  <!-- work digitised -->

                  @for(digitised of work.digitised; track $index){

                  @if(digitised.digitisedImage){
                    
                    <div class="imagecontainer">
                  
                  @for(image of digitised.digitisedImage; track $index){

                  <div class='imagewrapper'>

                    <img ngSrc="/assets/images/thumbnail_{{image.dig_id}}.jpg" height="150px" class="imagethumb" fill cdkOverlayOrigin
                      #imageoverlay="cdkOverlayOrigin" (click)="bigImage(image.dig_id)" alt="'Failed to Load Image'"
                      (error)="failedImageLoad(image, yearobject.year)">

                    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="imageoverlay"
                      [cdkConnectedOverlayOpen]="imageBig && selectedImage == image.dig_id" [cdkConnectedOverlayHasBackdrop]="true"
                      [cdkConnectedOverlayScrollStrategy]="imageScroll" (backdropClick)="imageBig = false">
                      <img src="/assets/images/{{image.dig_id}}.jpg" class="imagebig" fill>
                    </ng-template>

                  </div>

                  }


                      <!-- 
                      @for(image of digital.digitisedImage; track $index){

                      @if(image.length){
                      <div class="imagewrapper">

                        <img class="imagethumb" cdkOverlayOrigin #trigger="cdkOverlayOrigin" ngSrc="{{image}}" fill
                          (click)="bigImage(image)">

                        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                          [cdkConnectedOverlayOpen]="imageBig && selectedImage == image"
                          [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayScrollStrategy]="imageScroll"
                          (backdropClick)="imageBig = false">
                          <img [src]="image" class="imagebig" fill>
                        </ng-template>

                      </div>
                      }
                      }
                    -->
                  
                  </div>

                  }

                  <!-- work digitised archive piped for german version -->

                  <div style="margin-top:5%;padding-left:3vw">

                    @if(language === 'de' && digitised.digitised_archive?.length){
                    <a [href]="digitised.digitisedLink"
                      target="_blank"> {{ digitised.digitised_archive | isinst }}
                    </a>
                    }

                    <a [href]="digitised.digitisedLink" target="_blank">
                      {{ digitised.digitised_archive }} <i class="material-icons">launch</i>
                    </a>

                    <div style="color:grey;">
                      @if(language === 'de'){ <span [innerHtml]="digitised.digitised_summary_de"></span> }
                      @if(language === 'ja'){ <span [innerHtml]="digitised.digitised_summary_ja"></span> }
                    </div>

                  </div>

                  <!-- only catalogue = digitised work no image -->
                  @if(!digitised.digitisedImage || digitised.digitisedImage === []){<span>{{ 'chronology.onlybibliodata' | transloco }}</span>}

                  }

                   <!-- work webpages  <img class="icon" src=""> -->
                  <div style="padding-top:2vw;padding-left:3vw;">
                   @if(work.webpage){
                    @for(webpage of work.webpage; track $index){
                     <a [href]="webpage.URL" target="_blank"><span>{{ webpage.title }}</span></a> 
                     }
                     
                   }
 
                   <!-- work URL  (Union Catalogue, CiNii entry) zu Cinii nur logo oder auch text? -->
 
                   @if(work.URL){
                      <a [href]="work.URL" target="_blank" style="display:flex;align-items:center;">
                       @if(work.URL.includes('kokusho')){ 
                        <span>
                          {{ 'chronology.unioncatalogue' | transloco }} 
                        </span>
                        <img style="height:20px;margin-left:1%;" src="/assets/icons/icon_kokubun_logo.png">
                      }
                       @else if(work.URL.includes('ndl.go')){ 
                        <span> 
                          {{ 'chronology.dietlibrary' | transloco }} 
                        </span>
                        <img style="height:20px;margin-left:1%;" src="/assets/icons/icon_ndl.png">
                      }
                       @else if(work.URL.includes('cir.nii.ac.jp') || work.URL.includes('ci.nii.ac.jp')){ 
                        <span> 
                          {{ 'chronology.cinii' | transloco }}
                        </span> 
                        <img style="height:25px;margin-left:1%;" src="/assets/icons/icon_cinii.png">
                      }
                       @else{ 
                        {{ 'chronology.catalogue' | transloco }} 
                      }
                      
                     </a> 
                    }
                  </div>
                  

                  <!-- work_bibliography -->

                    <!-- START of mat-expansion work_bibliography detail -->

                    @if(work.work_bibliography?.length){

                      <mat-divider style="margin-top:2vh;"></mat-divider>

                      <!-- EMPTY CHECK because of template at start of bibliography.ts -->
  
                      <mat-expansion-panel class="mat-elevation-z0" style="margin-top:2vh;">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="border-style:unset;font-weight: lighter;color: gray;">
                            {{ 'chronology.bibliography_work' | transloco }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
  
                        @for(entry of work.work_bibliography; track $index){
  
                        <!-- work_bibliography icons -->
  
                        @if(entry.type == 'book'){
                        <i class="material-icons referenceicon"> book </i>
                        }
                        @if(entry.type == 'article-journal'){
                        <i class="material-icons referenceicon"> description
                        </i>
                        }
                        @if(entry.type == 'chapter'){
                        <i class="material-icons referenceicon"> menu_book </i>
                        }
  
                         <!-- work_bibliography labels reproduction, edition, translation -->
  
                         @if(entry.keyword?.includes('reproduction')){<div style="background-color: darkgrey;color:white"> {{ 'chronology.reproduction' | transloco }}</div>}
                         @if(entry.keyword?.includes('edition')){<div style="background-color: darkmagenta;color:white"> {{ 'chronology.edition' | transloco }}</div>}
                         @if(entry.keyword?.includes('translation')){<div style="background-color: darkmagenta;color:white"> {{ 'chronology.translation' | transloco }}</div>}
  
                        <!-- work_bibliography editor -->
  
                        @if(entry.editor && entry.editor.length && !(entry.type == 'chapter')){
                        @for(editor of entry.editor; track $index; let last = $last){
                        @if((editor.literal | islatin) || (editor.family | islatin)){
                        <!-- remove padding for last element for even spacing -->  
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{editor.literal}} @if(editor.given){ {{editor.family}}, {{editor.given}} }</span> (Hrsg.) }
                        @if(!((editor.literal | islatin) || (editor.family | islatin))){
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{editor.literal}} @if(editor.given){ {{editor.family}}, {{editor.given}} }</span> (編集) }
                        }
                      }
  
                        <!-- work_bibliography author -->
  
                        @if(entry.author && entry.author.length){
                        @for(author of entry.author; track $index; let last = $last){
                        @if((author.literal | islatin) || (author.family | islatin)){
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{author.literal}}@if(author.given){ {{author.family}}, {{author.given}} }</span>}
  
                        @if(!((author.literal | islatin) || (author.family | islatin))){
                        <span [ngStyle]="{ 'padding-right': last? '0%':'5%' }">{{author.literal}}@if(author.given){ {{author.family}}, {{author.given}} }</span>}
                        }
                        }
  
                        <!-- work_bibliography issued (first string  value = year only) -->
  
                        @if(entry.issued !== undefined){
                          {{ entry.issued['date-parts'] | splitFirst }}
                        }  
  
                        <!-- work_bibliography title -->
  
                        @if(!(entry.title | islatin)){ <span style="color:#663333;"> {{ entry.title }} </span> }
  
                        <!-- work_bibliography cursive title for latin -->
  
                        @if(entry.title | islatin){ <span style="color:#663333;"> <i> {{ entry.title }} </i> </span> }
  
                        <!-- work_bibliography if entry has annotation for volume and page  -->
  
                        <!-- if work_bibliography part of collection/container -->
                        <!-- work_bibliography collection-title + volume -->
                        <!-- work_bibliography container-title (journal) + volume -->
                        <!-- work_bibliography page -->
  
                        <span style="color: grey;">
  
                        <!-- in case book title is title of multi-volume publication or series title -->
                          @if(entry['collection-title']){ ({{entry['collection-title']}}) }
                          @if(entry['collection-title'] && entry.volume){ ({{entry['collection-title']}} {{entry.volume}}) }

                          @if(entry.type == 'article-journal'){ 
                            @if(entry.page){ @if(language === 'de'){ 
                              ({{ entry['container-title'] }} {{ entry.volume }} / S. {{ entry.page }}) }
                            @else if(language === 'ja'){ 
                              ({{ entry['container-title'] }} {{ entry.volume }} / {{ entry.page }} 頁) }
                            }
                            <!-- if no page numbers are provided-->
                            @else{ ({{ entry['container-title'] }} {{ entry.volume }})}  
                           } 

                        <!-- if book is multivolume publication without collection/container property-->
                          @else {<span style="color: grey;">@if(entry.volume){ {{entry.volume }} } @if(entry.page){  @if(language === 'de'){ S. } {{ entry.page }} @if(language === 'ja'){ 頁} } </span>  }
  
                        </span>
  
                        <!-- work_bibliography publisher -->
  
                        <div style="color: grey;">
                          {{ entry.publisher }}
                        </div>

                        <!-- work_bibliography URL catalogue CiNii -->
  
                        @if(entry.URL !== '' && entry.URL.includes('ci.nii') || entry.URL.includes('cir.nii')){
                          <a [href]="entry.URL" target="_blank">
                            <img style="width: 20px;position:absolute;right:0px;margin-top:-20px" src="/assets/icons/icon_cinii.png">
                          </a>
                          }

                        }
                      </mat-expansion-panel>
    
                     }
                    
                     <!-- END work -->
                  </div>
                    }
                   
                 

                 <!-- END poet event -->
                </div>
                }

                <mat-divider class="divider"></mat-divider>

                }
                <!-- END poet yearobject of timeline -->


              </div>
              <!-- END poet timeline -->

            </div>

          </mat-expansion-panel>

        </div>

      }
    <!-- END poetcard -->

  </div>

</div>