<div class="poetcomponentcontainer">

  <div class="toppanel">

    <div class="downloadcontainer">
      <div class="buttoncontainer">
        <button [matMenuTriggerFor]="downloadmenu" class="button" mat-icon-button>
          <i class="material-icons">download</i>
        </button>
        <span class="tooltip">
          {{ 'poets.download' | transloco }}
        </span>
      </div>

      <mat-menu #downloadmenu="matMenu">

        <button #downloadmenutitle disabled mat-menu-item>
          <div style="position:relative; padding: 5%; background-color: darkslateblue; color: white;">
            {{ 'poets.download' | transloco }}
          </div>
        </button>

        <!-- two button for every poet - biographical data and works -->
        @for (poet of (poets | async)!; track $index)
        {

        <button #menupoetname disabled mat-menu-item>
          <div style="position:relative; padding: 5%; background-color: #673ab7; color: white;">
            @if(language === 'de'){ {{ poet.names.commonname.romanized }} }
            @if(language === 'ja'){ {{ poet.names.commonname.literal }} }
          </div>
        </button>

        <button mat-menu-item (click)="poetbiographyDownload(poet)">
          <a class="downloadlink" id="{{ poet.names.commonname.romanized }}_biographydownloader" href
            download="{{ poet.names.commonname.romanized }}_biography">
            {{ 'poets.biography' | transloco }}
          </a>
        </button>

        <button mat-menu-item (click)="poetworksDownload(poet)">
          <a class="downloadlink" id="{{ poet.names.commonname.romanized }}_worksdownloader" href
            download="{{ poet.names.commonname.romanized }}_works">
            {{ 'poets.worksdownload' | transloco }}
          </a>
        </button>

        <button mat-menu-item (click)="poetreferenceDownload(poet)">
          <a class="downloadlink" id="{{ poet.names.commonname.romanized }}_referencedownloader" href
            download="{{ poet.names.commonname.romanized }}_references">
            {{ 'poets.referencedownload' | transloco }}
          </a>
        </button>

        }

      </mat-menu>
    </div>

    <!-- search input -->

    <div class="searchpanel">

      <mat-form-field class="searchbox" style="width:40vw">

        <mat-label class="placeholder">
          <i class="material-icons searchicon">search</i> {{ 'poets.search'| transloco }}
        </mat-label>

        <input matInput name="search" size="50" type="text" [(ngModel)]="searchText">

      </mat-form-field>
    </div>

    <!-- Sort for Publication -->
     <!--
    <mat-form-field appearance="fill" style="width:20vw">
      <mat-label> {{ 'poets.publication' | transloco }} </mat-label>
      <mat-select placeholder="Publikation" [(value)]="selectedpublication">
        <mat-option *ngFor="let selectorpublication of selectorpublicationsvar" [value]="selectorpublication.value"> {{
          selectorpublication.viewValue }} </mat-option>
      </mat-select>
    </mat-form-field>
     -->

    <!-- Sort for Period -->
    <mat-form-field appearance="fill" style="width:20vw">
      <mat-label> {{ 'poets.period' | transloco }} </mat-label>
      <mat-select placeholder="Periode" [(value)]="selectedperiod">
        <mat-option *ngFor="let selectorperiod of selectorperiodsvar" [value]="selectorperiod.value"> {{
          selectorperiod.viewValue }} </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <!--
    <mat-form-field appearance="fill">
    <mat-label> {{ 'poets.poetsociety' | transloco }} </mat-label>
    <mat-select placeholder="Dichtergesellschaft" [(value)]="selectedsociety" >
    <mat-option *ngFor="let selectorsociety of selectorsocietiesvar" [value]="selectorsociety.value"> {{ selectorsociety.viewValue }} </mat-option>
    </mat-select>
    </mat-form-field>
    -->

  <div class="poetselectors">

    <div class="poetchips">
      <mat-chip-listbox selectable multiple>
        <mat-chip-option *ngFor="let poet of (poets | async)! | searchpoets: searchText"
          [ngClass]="{'invisible': !(selectedpublication == 'nopub') && !poet.category.includes(selectedpublication) || !(selectedsociety == 'nosociety') && !poet.category.includes(selectedsociety) || selectedperiod == 'earlyedo' && !(poet.death < 1700) || selectedperiod == 'middleedo' && !(poet.death > 1700 && poet.death < 1800 )|| selectedperiod == 'lateedo' && !(poet.death > 1800 && poet.death < 1868)}"
          color="primary" [value]="poet.name" (click)="chipselection(poet)">
          <span *ngIf="language === 'de'">{{poet.names.commonname.romanized }} &nbsp; </span>
          {{poet.names.commonname.literal }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>


    <div *ngIf="searchText !== ''" class="workresults">

      <div *ngFor="let work of (poets | async)! | poetworksearch: searchText" class="workresults_entry">

        <div class="workresults_author">

          <ng-container *ngFor="let author of work.author">
            <ng-container *ngIf="language === 'de'">
              <div>{{ author.romanized }}</div>
              <div>{{ author.literal }}</div>
            </ng-container>

            <ng-container *ngIf="language === 'ja'">
              <div>{{ author.literal }}</div>
            </ng-container>
          </ng-container>

        </div>

        <div class="workresults_title">
          <div *ngIf="language === 'de'">{{ work.titleromanized }}</div>
          <div>{{ work.title }}</div>
          <div *ngIf="language === 'ja' && work.titlekana">( {{ work.titlekana }} ) </div>
        </div>

        @if(work.issued){
        <div class="workresults_year">[ {{  (work['issued'] | keyvalue)[0]['value'] | isString }} ] </div>
        }

      </div>

    </div>


    <div class=timelinecontainer [style.height]="(timelineHeight + 'px')">
      <div class="timelinemarkerstart"> 1500 </div>
      <div class="timelinemarker" style="top:25%;"> 1600 </div>
      <div class="timelinemarker" style="top:50%;"> 1700 </div>
      <div class="timelinemarker" style="top:75%;"> 1800 </div>
      <div class="timelinemarkerend"> 1900 </div>

      <div class="poettimelinecontainer">

        <div class="poettimelinesubcontainer" *ngFor="let linepoet of poets | async"
          [ngClass]="{'invisible': !(selectedPoet.includes(linepoet.names.commonname.romanized))}">
          <div class="timelinedatestart"
            [style.margin-top]="(((linepoet.birth - 1500) * (timelineHeight / timelineYears)) -40) + 'px'">
            {{linepoet.birth}}</div>
          <div class="poettimeline" [style.height]="((linepoet.death - linepoet.birth) / timelineHeight *100) + '%'"
            [style.margin-top]="((linepoet.birth - 1500) * (timelineHeight / timelineYears)) + 'px'">
            <div *ngIf="language ==='de'" class="timelineromanized">{{linepoet.names.commonname.romanized}}</div>
            <div class="timelineName">{{ linepoet.names.abbreviated.literal }}</div>
          </div>
          <div class="timelinedateend">{{linepoet.death}}</div>
        </div>

      </div>

    </div>


  </div>

  <div class="poetcardcontainer">

    <ng-container *ngFor="let cardpoet of poets | async">
      <!-- load only if poet's name selected -->
      <ng-container *ngIf="selectedPoet.includes(cardpoet.names.commonname.romanized)">

        <div class="poetcard {{cardpoet.names.commonname.romanized}}">
          <div class="grid">
            <div class="cardname"> {{ cardpoet.name }} </div>
            <div class="cardromanized"> {{ cardpoet.names.commonname.romanized }} </div>
            <div class="carddates"> {{ cardpoet.birth }} - {{ cardpoet.death }} </div>
            <!--      <div class="summary"> {{ cardpoet.summary }} </div> -->
          </div>

          <mat-expansion-panel>

            <mat-expansion-panel-header class="mat-elevation-z0" style="height:10vh">
              <mat-panel-title (click)="expandselection(cardpoet)" class="poetcarddetails">
                {{ 'poets.detail' | transloco }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="detail">

              <!-- START names -->

              <mat-expansion-panel class="namespanel mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    <span> {{ 'poets.names' | transloco }} </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>


                <div>
                  <div class="poetname_title">{{ 'poets.commonname' | transloco }}</div>
                  <div *ngIf="language === 'de'" class="poetname">
                    <div>{{ cardpoet.names.commonname.romanized }}</div>
                    <div>{{ cardpoet.names.commonname.literal }}</div>
                  </div>
                  <div *ngIf="language === 'ja'" class="poetname">
                    <div>{{ cardpoet.names.commonname.literal }}</div>
                    <div>{{ cardpoet.names.commonname.kana }}</div>
                  </div>
                </div>

                <div *ngIf="cardpoet.names.familyname.literal.length">
                  <div class="poetname_title">{{ 'poets.familyname' | transloco }}</div>
                  <span *ngIf="language === 'de'">{{ cardpoet.names.familyname.romanized }}</span>
                  <span>{{ cardpoet.names.familyname.literal }} </span>
                </div>

                <div *ngIf="cardpoet.names.clanname.literal.length">
                  <div class="poetname_title">{{ 'poets.clanname' | transloco }}</div>
                  <span *ngIf="language === 'de'">{{ cardpoet.names.clanname.romanized }}</span>
                  <span>{{ cardpoet.names.clanname.literal }} </span>
                </div>

                <!-- name arrays -->

                <div *ngIf="cardpoet.names.callname[0]?.literal.length">
                  <div class="poetname_title">{{ 'poets.callname' | transloco }}</div>
                  <ng-container *ngFor="let entry of cardpoet.names.callname">
                    <span *ngIf="language === 'de'">{{ entry.romanized }}</span>
                    <span>{{ entry.literal }} </span>
                  </ng-container>
                </div>

                <div *ngIf="cardpoet.names.adultname[0]?.literal.length">
                  <div class="poetname_title">{{ 'poets.adultname' | transloco }} </div>
                  <ng-container *ngFor="let entry of cardpoet.names.adultname">
                    <span *ngIf="language === 'de'">{{ entry.romanized }}</span>
                    <span>{{ entry.literal }} </span>
                  </ng-container>
                </div>

                <div *ngIf="cardpoet.names.stylename[0]?.literal.length">
                  <div class="poetname_title">{{ 'poets.stylename' | transloco }}</div>
                  <ng-container *ngFor="let entry of cardpoet.names.stylename">
                    <span *ngIf="language === 'de'">{{ entry.romanized }}</span>
                    <span>{{ entry.literal }} </span>
                  </ng-container>
                </div>

                <div *ngIf="cardpoet.names.tabooname[0]?.literal.length">
                  <div class="poetname_title">{{ 'poets.tabooname' | transloco }}</div>
                  <ng-container *ngFor="let entry of cardpoet.names.tabooname">
                    <span *ngIf="language === 'de'">{{ entry.romanized }} </span>
                    <span>{{ entry.literal }} </span>
                  </ng-container>
                </div>

                <div *ngIf="cardpoet.names.youthname[0]?.literal.length">
                  <div class="poetname_title">{{ 'poets.youthname' | transloco }}</div>
                  <ng-container *ngFor="let entry of cardpoet.names.youthname">
                    <span *ngIf="language === 'de'"> {{ entry.romanized }} </span>
                    <span>{{ entry.literal }} </span>
                  </ng-container>
                </div>

                <div *ngIf="cardpoet.names.buddhistname.literal.length">
                  <div class="poetname_title">{{ 'poets.buddhistname' | transloco }}</div>
                  <span *ngIf="language === 'de'"> {{ cardpoet.names.buddhistname.romanized }} </span>
                  <span>{{ cardpoet.names.buddhistname.literal }} </span>
                </div>

              </mat-expansion-panel>

              <!-- START places -->

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'poets.places' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="cardpoet.placebirth?.length">
                  <div class="poetname_title">{{ 'poets.placebirth' | transloco }} </div>
                  <span *ngIf="language ==='de'">{{ cardpoet.placebirth |isplace }} </span>
                  <span class="nowrap">{{ cardpoet.placebirth }}</span>
                </div>

                <div *ngIf="cardpoet.placedeath?.length">
                  <div class="poetname_title">{{ 'poets.placedeath' | transloco }} </div>
                  <span *ngIf="language ==='de'">{{ cardpoet.placedeath |isplace }} </span>
                  <span class="nowrap">{{ cardpoet.placedeath }}</span>
                </div>

                <div *ngIf="cardpoet.placeactive?.length">
                  <div class="poetname_title">{{ 'poets.placeactive' | transloco }} </div>
                  <span *ngIf="language ==='de'">{{ cardpoet.placeactive |isplace }} </span>
                  <span class="nowrap">{{ cardpoet.placeactive }} </span>
                </div>

              </mat-expansion-panel>


              <!-- START poet works -->

              <mat-expansion-panel class="mat-elevation-z0">

                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'poets.worksdownload' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-container *ngFor="let item of PoetWorks">
                  <ng-container *ngIf="item.nametoken === cardpoet.names.commonname.romanized">
                    <div *ngFor="let entry of item.poetworks">

                      <!-- title -->

                      <div class="poetwork">
                        <span class="poetworktitle" *ngIf="language === 'de'"> {{entry.titleromanized}} </span>
                        <span class="poetworktitle"> {{entry.title}} </span>
                        <span *ngIf="language === 'ja'">({{entry.titlekana}})</span>
                        <mat-divider></mat-divider>
                      </div>

                      <!-- archive and link -->
                      <div *ngFor="let digitised of entry.digitised" class="digitisedarchive">

                        <!-- digitised work archive de -->

                        <div class="digitisedlink" *ngIf="language === 'de' && digitised.digitised_archive?.length">
                          <a [href]="digitised.digitisedLink" target="_blank"> {{ digitised.digitised_archive |
                            isinst }} </a>
                        </div>

                        <!-- digitised work archive ja -->

                        <div class="digitisedlink">
                          <a [href]="digitised.digitisedLink" target="_blank">
                            {{ digitised.digitised_archive }} <i class="material-icons">launch</i>
                          </a>
                        </div>

                        <!-- digitised work no image -->

                        <span *ngIf="digitised.digitisedImage == ''">
                          {{ 'chronology.onlybibliodata' | transloco }}
                        </span>

                      </div>

                    </div>
                  </ng-container>
                </ng-container>
              </mat-expansion-panel>


              <!-- START poet reference bibliography -->

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title class="detailheader">
                    {{ 'chronology.bibliography' | transloco }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Download jetzt im Downloadmenü -->
                <!--
                <div class="poetname_title">
                  <span>
                    <a id="{{cardpoet.names.commonname.romanized}}_worksdownloader" href
                      download="{{cardpoet.names.commonname.romanized}}_works.json"
                      (click)="poetworksDownload(cardpoet)">
                      <mat-icon class="downloadicon">get_app</mat-icon>
                    </a>
                  </span>
                  <span>{{'poets.worksdownload'| transloco }}</span>
                </div>

                <div class="poetname_title">
                  <span>
                    <a id="{{cardpoet.names.commonname.romanized}}_referencedownloader" href
                      download="{{cardpoet.names.commonname.romanized}}_reference.json"
                      (click)="poetreferenceDownload(cardpoet)">
                      <mat-icon class="downloadicon">get_app</mat-icon>
                    </a>
                  </span>
                  <span>{{'poets.referencedownload'| transloco }}</span>
                </div>
                -->


                <!-- poet references copy of  bibliography display in biography details -->


                <!-- START entry reference bibliographyreferencestyle(cardpoet.reference) -->

                <ng-container *ngIf="cardpoet.reference">
                  <div *ngFor="let entry of cardpoet.reference" class="entryreference">
                    <div
                      [ngClass]="{'completeworks': (entry.keyword && entry.keyword !== undefined && entry.keyword == 'completeworks')}">

                      <!-- poet reference bibliography editor -->
                      <!-- exclude editor of chapter -->

                      @if(entry.editor?.length && !(entry.type == 'chapter')){
                        @for(editor of entry.editor; track $index){
                        @if((editor.literal | islatin) || (editor.family | islatin)){
                        <span>{{editor.literal}}{{editor.family}}</span> (Hrsg.) }
                        @if(!((editor.literal | islatin) || (editor.family | islatin))){
                        <span>{{editor.literal}}{{editor.family}}</span>  }
                        } (編集) }

                      <!-- author -->

                      <ng-container *ngIf="entry.author?.length">
                        <ng-container *ngFor="let author of entry.author">
                          <ng-container
                            *ngIf="(author.literal | islatin) || (author.family | islatin)">{{author.literal}}{{author.family}},
                            {{author.given}}
                          </ng-container>
                          <ng-container *ngIf="!((author.literal | islatin) || (author.family | islatin))">
                            {{author.literal}}{{author.family}}{{author.given}}
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <!-- issued (date) -->

                      <ng-container *ngIf="(entry.issued | keyvalue)[0].value !== ''">
                        {{ (entry['issued'] | keyvalue)[0]['value'] | isString }}
                      </ng-container>

                      <!-- labels reproduction, edition, translation -->

                      @if(entry.keyword?.includes('reproduction')){<div style="background-color: darkgrey;color:white"> {{ 'poets.reproduction' | transloco }}</div>}
                      @if(entry.keyword?.includes('edition')){<div style="background-color: darkmagenta;color:white"> {{ 'poets.edition' | transloco }}</div>}
                      @if(entry.keyword?.includes('translation')){<div style="background-color: darkmagenta;color:white"> {{ 'poets.translation' | transloco }}</div>}

                      <!-- title -->

                      <span class="referencetitle" *ngIf="!(entry.title | islatin)">
                        {{ entry.title }}
                      </span>

                      <!-- cursive title for latin -->

                      <span class="referencetitle" *ngIf="entry.title | islatin">
                        <i> {{ entry.title }} </i>
                      </span>



                      <span class="referencecontainer">

                        <!-- collection-title + volume -->

                        <ng-container *ngIf="entry['collection-title']">
                          ({{ entry['collection-title'] }} {{ entry.volume }})
                        </ng-container>

                        <!-- container-title (journal) + volume -->

                        <ng-container *ngIf="entry.type == 'article-journal'">

                          (
                          {{ entry['container-title'] }} {{ entry.volume }}

                          <!-- page -->

                          <ng-container *ngIf="entry.page">
                            / {{ entry.page }} {{ 'poets.page' | transloco }}
                          </ng-container>
                          )
                        </ng-container>

                        <ng-container *ngIf="entry.type == 'chapter'">

                          @if(entry.editor?.length){
                            @for(editor of entry.editor; track $index){
                            @if((editor.literal | islatin) || (editor.family | islatin)){
                            <span>{{editor.literal}}{{editor.family}}</span> (Hrsg.) }
                            @if(!((editor.literal | islatin) || (editor.family | islatin))){
                            <span>{{editor.literal}}{{editor.family}}</span>  }
                            } (編集) }

                          (
                          {{ entry['container-title'] }} {{ entry.volume }}

                          <!-- page -->

                          <ng-container *ngIf="entry.page">
                            / {{ entry.page }} {{ 'poets.page' | transloco }}
                          </ng-container>
                          )
                        </ng-container>

                      </span>

                      <!-- publisher -->

                      <span>
                        {{ entry.publisher }}
                      </span>

                      <!-- URL catalogue CiNii -->

                      <ng-container *ngIf="entry.URL">
                        <a [href]="entry.URL" target="_blank">
                          <img class="icon" src="/assets/iconcinii.png">
                        </a>
                      </ng-container>

                      <!-- note  -->

                      <ng-container *ngIf="entry.note?.length">
                        <mat-expansion-panel class="mat-elevation-z0 entrynote">
                          <mat-expansion-panel-header>
                            <mat-panel-title [innerHTML]="'poets.note' | transloco" class="notetitle"></mat-panel-title>
                          </mat-expansion-panel-header>
                          <!-- styling note content margin vs parent padding-->
                          <div [style.margin-left]="'-20px'" [style.margin-right]="'-26px'" [style.font-size]="'small'"
                            [innerHtml]="entry.note"></div>
                        </mat-expansion-panel>
                      </ng-container>


                    </div>
                  </div>
                </ng-container>

              </mat-expansion-panel>

              <!-- END reference bibliography -->

              <!-- START biography -->

              <div class="detailtimeline">

                <p>{{'poets.biography' | transloco }}</p>

                @for(yearobject of cardpoet.timeline; track $index){

                <div>
                  <b> {{ yearobject.year }} </b>
                </div>

                @for(event of yearobject.events; track $index){
                <div class="poetevent">

                  <!-- innerHTML to render highlights such as italics etc in data -->

                  @if(language === 'de'){ 
                    <div style="color: black;" [innerHTML]="event.summary_de"></div> 
                    <div style="color: grey;" [innerHTML]="event.expansion_de"></div> 
                  }
                  
                  @if(language === 'ja'){ 
                    <div [innerHTML]="event.expansion_ja"></div> 
                  
                  }

                  <!-- START work -->

                  @for(work of event.work; track $index){

                  @if(work.title !==''){
                  <div class="worktitle">
                    @if(language === 'de'){ <span class="worktitlede"> {{work.titleromanized}} </span>}
                    <span class="worktitleja"> {{work.title}} </span>
                  </div>
                  }

                  <!-- work digitised -->

                  @for(digital of work.digitised; track $index){

                  @if(digital.digitisedImage){

                  @for(image of digital.digitisedImage; track $index){

                  @if(image.length){
                  <div class="imagewrapper">

                    <img class='imagethumb' cdkOverlayOrigin #trigger="cdkOverlayOrigin" ngSrc="{{image}}" fill
                      (click)="bigImage(image)">

                    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                      [cdkConnectedOverlayOpen]="imageBig && selectedImage == image"
                      [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayScrollStrategy]="imageScroll"
                      (backdropClick)="imageBig = false">
                      <img [src]="image" class="imagebig">
                    </ng-template>

                  </div>
                  }

                  }


                  }

                  <!-- work archive piped for german version -->

                  <div class="digitisedarchive">

                    <a *ngIf="language === 'de' && digital.digitised_archive?.length" [href]="digital.digitisedLink"
                      target="_blank"> {{ digital.digitised_archive | isinst }}
                    </a>

                    <a [href]="digital.digitisedLink" target="_blank">
                      {{ digital.digitised_archive }} <i class="material-icons">launch</i>
                    </a>

                    <div *ngIf="this.language === 'de'">{{ digital.digitised_summary_de }}</div>
                    <div *ngIf="this.language === 'ja'">{{ digital.digitised_summary_ja}}</div>

                  </div>


                  }

                  <!-- work_bibliography -  error falls string in array [""] -->

                  @if(work.work_bibliography?.length){

                  @for(entry of bibliography_import; track $index){
                  @for(work_bibliography_entry of work.work_bibliography; track $index){
                  <!-- EMPTY CHECK because of template at start of bibliography.ts -->
                  @if(work_bibliography_entry !== ''){
                  @if(entry.title !=='' && work_bibliography_entry.includes(entry.title)){

                  <div class="workreference"> {{'poets.edition' | transloco }} </div>
                  <div *ngFor="let entry of work.edition" class="entryreference">

                    <!-- START of mat-expansion detail -->
                    <mat-expansion-panel class="mat-elevation-z0">
                      <mat-expansion-panel-header style="height: auto">
                        <mat-panel-title style="border-style:unset;font-weight: lighter;color: gray;">
                          {{ 'chronology.reference' | transloco }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <!-- work_bibliography icons -->

                      @if(entry.type == 'book'){
                      <i class="material-icons referenceicon"> book </i>
                      }
                      @if(entry.type == 'article-journal'){
                      <i class="material-icons referenceicon"> description
                      </i>
                      }
                      @if(entry.type == 'chapter'){
                      <i class="material-icons referenceicon"> menu_book </i>
                      }
                      <!-- work_bibliography URL catalogue CiNii -->

                      @if(entry.URL){
                      <a [href]="entry.URL" target="_blank">
                        <img class="webicon" src="/assets/iconcinii.png">
                      </a>
                      }

                      <!-- work_bibliography editor -->

                      @if(entry.editor && entry.editor.length){
                      @for(editor of entry.editor; track $index){
                      @if((editor.literal | islatin) || (editor.family | islatin)){
                      <span>{{editor.literal}}{{editor.family}}</span> (Hrsg.) }
                      @if(!((editor.literal | islatin) || (editor.family | islatin))){
                      <span>{{editor.literal}}{{editor.family}}</span>  }
                      } (編集) }

                      <!-- work_bibliography author -->

                      @if(entry.author && entry.author.length){
                      @for(author of entry.author; track $index){
                      @if((author.literal | islatin) || (author.family | islatin)){
                      <span>{{author.literal}}{{author.family}}</span>}

                      @if(!((author.literal | islatin) || (author.family | islatin))){
                      <span>{{author.literal}}{{author.family}}</span>}
                      }
                      }



                      <!-- work_bibliography issued (first string  value = year only) -->
                      <!-- REMOVED EMPTY CHECK entry.issued && (entry.issued | keyvalue)[0].value !== '' -->

                      <span style="color: darkred;">
                        {{ (entry['issued'] | keyvalue)[0]['value'] | isString }}
                      </span>

                      @if(entry.page){ <span style="color: grey;"> / {{ entry.page }} {{ 'chronology.page' | transloco
                        }} </span> }


                      <!-- work_bibliography title -->

                      @if(!(entry.title | islatin)){ <span style="color:#663333;"> {{ entry.title }} </span> }

                      <!-- work_bibliography cursive title for latin -->

                      @if(entry.title | islatin){ <span style="color:#663333;"> <i> {{ entry.title }} </i> </span> }

                      <!-- work_bibliography if entry has annotation for volume and page  -->


                      @if(work_bibliography_entry.includes('vol')){ ({{work_bibliography_entry | bibliopipe}}) }
                      @if(work_bibliography_entry.includes('page')){ {{ 'chronology.page' | transloco }} {{
                      work_bibliography_entry | bibliopipe }} }


                      <!-- if work_bibliography part of collection/container -->
                      <!-- work_bibliography collection-title + volume -->
                      <!-- work_bibliography container-title (journal) + volume -->
                      <!-- work_bibliography page -->

                      <span style="color: grey;">

                        @if(entry['collection-title']){ ({{ entry['collection-title'] }} {{ entry.volume }}) }

                        @if(entry.type == 'article-journal'){ ( {{ entry['container-title'] }} {{ entry.volume }} }
                        @if(entry.page){ <span style="color: grey;"> / {{ entry.page }} {{ 'chronology.page' | transloco
                          }} </span> ) }

                      </span>

                      <!-- work_bibliography publisher -->

                      <div style="color: grey;">
                        {{ entry.publisher }}
                      </div>

                    </mat-expansion-panel>
                    <!-- END of mat-expansion detail -->

                  </div>

                        }
                      }
                    }
                  }
                }
              }
                  <!-- END work -->

                </div>
                }
                <!-- END poet event -->


                }
                <!-- END poet yearobject of timeline -->

              </div>
              <!-- END poet timeline -->

            </div>

          </mat-expansion-panel>

        </div>
      </ng-container>
    </ng-container>
    <!-- END poetcard -->

  </div>

</div>