.poetcomponentcontainer {
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10vh;
}

.toppanel {
  display: inline-flex;
}

.searchpanel {
  margin-right: 10px;
}

.searchicon {
  margin-right: 10px;
}

.poetselectors {
  width: 100%;
}

.poetchips {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.timelinecontainer {
  width: 80%;
  margin: 10vh auto;
  border: 3px;
  border-style: solid;
  border-color: #E0E0E0;
  justify-content: flex-start;
  position: relative;
}

.timelinemarkerstart {
  top: -2%;
  font-size: 400%;
  color: #e0e0e0;
  position: absolute;
  z-index: -1;
}

.timelinemarkerend {
  bottom: -3%;
  font-size: 400%;
  color: #e0e0e0;
  position: absolute;
  z-index: -1;
}

.timelinemarker {
  font-size: xx-large;
  color: #c9c9c9;
  position: absolute;
  width: 100%;
  border-top-style: solid;
  border-width: thin;
  border-color: #e0e0e0;
  opacity: .7;
  z-index: -1;
}

.workresults {
  height: 150px;
  display: flex;
  overflow-x: scroll;
}

.workresults_entry {
  min-width: 150px;
  margin: 5px;
}

.workresults_author {
  color: #673ab7;
  height: 40px;
}

.workresults_title {
  color: white;
  background: #673ab7;
  max-height: 60px;
  overflow: hidden;
}

.workresults_title:hover {
  color: white;
  background: #673ab7;  
  overflow: visible;
}

.workresults_year {
  color: #673ab7;
}

.poettimelinecontainer {
  height: 100%;
  padding-left: 25%;
  overflow-x: scroll;
  display: flex;
  padding-bottom: 100px;
}

.poettimelinesubcontainer {
  margin-right: 10%;
}

.poettimeline {
  position: relative;
  background-color: #e1d7f2;
  border-left-style: inset;
  border-color: #673ab7;
  width: 20px;
}

.timelineName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  color: #673ab7;
  font-size: x-large;
  margin-left: 40%;
  position: absolute;
}

.timelineromanized {
  writing-mode: vertical-rl;
  position: absolute;
  color: #673ab7;
  white-space: nowrap;
  transform: translate(-120%);
}

.timelinedatestart {
  writing-mode: vertical-rl;
  color: #a88cdb;
  float: left;
}

.timelinedateend {
  writing-mode: vertical-rl;
  color: #a88cdb;
  margin-top: 1%;
  float: left;
}


.poetcardcontainer {
  margin: 0 auto;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  width: inherit;
}

.poetcard {
  width: 200px;
  margin: 2%;
  float: left;
}

.poetextended {
  float: right;
}


.poetcard {
  width: 200px;
  margin: 2%;
  float: left;
}

.poetname_title {
  border-top-style: solid;
  border-width: thin;
  margin-bottom: 8%;
  margin-top: 8%;
  border-color: lightgray;
  padding-top: 6%;
  padding-bottom: 6%;
  left: -22px;
  position: relative;
  white-space: nowrap;
  color: #a88cdb;
}

.poetcarddetails {
  font-size: larger;
  margin: 10%;
  justify-content: center;
}

.poetextended {
  float: right;
}


.grid {
  display: grid;
  border-style: outset;
  grid-template-columns: 50% 50%;
  grid-template-rows: 78% 20%;
  grid-template-areas:
    "name romanized"
    "name dates";
  height: 100px;
  background: #673ab7;
}

.cardname {
  grid-area: name;
  text-align: left;
  font-size: 300%;
  line-height: 90%;
  font-weight: bold;
  color: white;
}

.cardromanized {
  grid-area: romanized;
  font-size: 150%;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  word-break: break-all;
  letter-spacing: 2px;
  text-align: justify;
}

.carddates {
  grid-area: dates;
  font-weight: lighter;
  font-size: 120%;
  color: white;
}

.summary {
  border-top-style: inset;
  padding-top: 10%;
}

.mat-expansion-panel-header {
  align-items: baseline;
  padding: unset !important;
  padding-right: 12px !important;
}

.detailheader .mat-expansion-panel-header-title {

  margin: 5%;
}

::ng-deep .mat-expansion-panel-body {
  overflow: auto;
}

.poetworktitle {
  color: #673ab7;
  padding-top: 6%;
  border-top-style: solid;
  border-width: thin;
}

.digitisedlink {
  font-size: smaller;
}

p {
  padding-bottom: 10%;
  padding-top: 10%;
  font-size: large;
  font-weight: bold;
}
/*
.detail {
  white-space: pre-wrap;
}
*/

.nowrap {
  white-space: nowrap;
}

.detailtimeline {
  font-weight: lighter;
  padding-bottom: 20%;
}

.poetevent {
  margin-bottom: 10%;
}



/* bibliography */

.detailheader {
  font-weight: lighter;
}

.completeworks {
  border-style: solid;
  border-color: #7042c3;
  border-width: 1.5px;
  padding: 5%;
}

.entryreference {
  margin-bottom: 10%;
  border-bottom-style: inset;
  overflow: hidden;
  white-space: normal;
}

.publisher {
  color: #C86464;
}

.referencetitle {
  color: #673ab7;
}

.workreference {
  margin: 10%;
  font-weight: bold;
}

.referenceicon {
  transform: translate(-25px);
  position: absolute;
  color: gray;
}

/* digitised work */

.imagewrapper {
  position: relative;
  min-height: 100px;
  max-height: 200px;
}

.imagethumb {
  object-fit: contain;
  cursor: pointer;
}

.imagebig {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  transform: translateX(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  z-index: 4;
}

.digitisedarchive {
  margin-top: 5%;
}

.notetitle {
  border-style: unset;
  font-weight: lighter;
  color: gray;
  /* um das expansion panel unabhängig vom großen panel zu stylen */
}

.workreferencetitle {
  border-style: unset;
  font-weight: lighter;
  color: gray;
}

::ng-deep .material-icons {
  vertical-align: middle;
}

.icon {
  width: 15%;
  float: right;
  margin-top: -20px;
}

.downloadicon {
  color: #673ab7;
}

.invisible {
  display: none !important;
}

.worktitle {
  color: #673ab7;
  font-size: larger;
  padding-top: 6%;
  border-top-style: solid;
  border-width: thin;
  margin: 10%;
}

.worktitlede {
  display: block;
  padding-bottom: 5%;
}



.mdc-evolution-chip__graphic {
  display: none;
}

::ng-deep .mat-checkbox-checkmark {
  display: none;
}

@media only screen and (max-width: 599px) {

  .poetselectors {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
  }

  .toppanel {
    margin-left: 30px;
  }

  .searchpanel {
    margin-right: 0;
    max-width: 100px;
  }

  .mat-mdc-form-field {
    max-width: 100px;
  }


}